/********************ESTO ES APARTAMENTO BUSCADOR********************/
body.AP1{

    font-family: Roboto Condensed;
    font-style: normal;
    font-size: x-large;
    color: #000000; 

    margin: 0 auto;

    padding-top: 100px; 
    padding-bottom: 100px;

    width: 1300px;
}

.TituloAP1{
    
    width: 1300px;
    height: 56px;

    margin: 0 auto;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

.SegTituloAP1{
    width: 500px;
    height: 28px;
    margin-top: 80px;
    margin-left: 30px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.imagenCasaAP1{
    width: 155px;
    height: 143px;

    margin-top:-110px;
    margin-left: 1100px;
}

.recuadroTotalAP1{
        width: 1166px;
        height: 600px;
        margin: auto;
        margin-top: 50px;

        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          ". ."
          "filaTres filaTres"; 
}

.filaTres { 
    grid-area: filaTres; 
    margin: auto;
}

.primerCuadradoAP1{
    width: 540px;
    height: 143px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

.primerCuadradoImagenAP1{
    width: 135px;
    height: 111.75px;

    margin-left: 380px;

    margin-top: 15px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

.primerCuadradoTextoAP1{
    width: 209px;
    height: 45.46px;

    margin-top:-78px;
    margin-left: 60px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.lineaAP1{
    width: 1360px;
    height: 0px;

    border: 6px solid #D5C7C7;
}

.botonAP1{
    width: 253px;
    height: 55px;

    float: right;

    margin-top: 10px;
    margin-right: 30px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
    
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    
    body.AP1{

        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 

        margin: 0 auto;

        padding-top: 100px; 
        padding-bottom: 70px;

        width: 800px;
    }

    .TituloAP1{
        
        width: 700px;
        height: 120px;

        text-align: center;

        margin: 0 auto;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 40px;
        line-height: 56px;


        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }

    .SegTituloAP1{
        width: 500px;
        height: 28px;
        margin-top: 80px;
        margin-left: 30px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;

        color: #000000;
    }

    .imagenCasaAP1{
        width: 150px;
        height: 123px;

        margin-top:-90px;
        margin-left: 650px;
    }

    .recuadroTotalAP1{
            width: 800px;
            height: 400px;
            margin: auto;
            margin-top: 50px;

            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            ". ."
            ". ."
            "filaTres filaTres"; 
    }

    .filaTres { 
        grid-area: filaTres; 
        margin: auto;
    }

    .primerCuadradoAP1{
        width: 360px;
        height: 103px;

        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 12px;
    }

    .primerCuadradoImagenAP1{
        width: 90px;
        height: 80px;

        margin-left:260px;

        margin-top: 10px;

        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
        border-radius: 12px;
    }

    .primerCuadradoTextoAP1{
        width: 209px;
        height: 45.46px;

        margin-top:-68px;
        margin-left: 60px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;

        color: #000000;
    }

    .lineaAP1{
        width: 600px;
        height: 0px;

        border: 6px solid #D5C7C7;
    }

    .botonAP1{
        width: 153px;
        height: 45px;

        float: right;

        margin-top: 10px;
        margin-right: 30px;

        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 30px;
        line-height: 42px;

        color: #FFFFFF;
        
    }
}

/* 640 */
@media screen and (max-width: 40em) {
    
    body.AP1{

        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 

        margin: 0 auto;

        padding-top: 100px; 
        padding-bottom: 100px;

        width: 540px;
    }

    .TituloAP1{
        
        width: 500px;
        height: 120px;

        text-align: center;

        margin: 0 auto;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 30px;
        line-height: 56px;


        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }

    .SegTituloAP1{
        width: 500px;
        height: 28px;
        margin-top: 40px;
        margin-left: 30px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 28px;

        color: #000000;
    }

    .imagenCasaAP1{
        width: 100px;
        height: 80px;

        margin-top:-80px;
        margin-left: 400px;
    }

    .recuadroTotalAP1{
            width: 500px;
            height: 300px;
            margin: auto;
            margin-top: 50px;

            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            ". ."
            ". ."
            "filaTres filaTres"; 
    }

    .filaTres { 
        grid-area: filaTres; 
        margin: auto;
    }

    .primerCuadradoAP1{
        width: 250px;
        height: 80px;

        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 12px;
    }

    .primerCuadradoImagenAP1{
        width: 70px;
        height: 60px;

        margin-left:170px;

        margin-top: 10px;

        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
        border-radius: 12px;
    }

    .primerCuadradoTextoAP1{
        width: 209px;
        height: 45.46px;

        margin-top:-53px;
        margin-left: 30px;

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 42px;

        color: #000000;
    }

    .lineaAP1{
        width: 640px;
        height: 0px;

        border: 6px solid #D5C7C7;
    }

    .botonAP1{
        width: 103px;
        height: 45px;

        float: right;

        margin-top: 10px;
        margin-right: 30px;

        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 42px;

        color: #FFFFFF;
        
    }
}