<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
        <title>Anfitrion Paso 1</title>
    </head>


    <body class = AP1>

            <!--Titulo-->
            <p class = TituloAP1> ¡VAMOS A CREAR  UN ANUNCIO PARA TU ALOJAMIENTO! </p>

            <!--2º Titulo-->
            <p class = SegTituloAP1> ¿QUÉ TIPO DE ALOJAMIENTO TIENES? </p>

            <!--Imagen-->
            <img class = imagenCasaAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">

            <!--Primer Recuadro-->
            <section class = recuadroTotalAP1>

                <div class = primerCuadradoAP1>
                    <img class = primerCuadradoImagenAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = ''>  
                    <p class = primerCuadradoTextoAP1> Apartamento </p>
                </div>  

                <div class = primerCuadradoAP1>
                    <img class = primerCuadradoImagenAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = ''>  
                    <p class = primerCuadradoTextoAP1> Apartamento </p>
                </div>  

                <div class = primerCuadradoAP1>
                    <img class = primerCuadradoImagenAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = ''>  
                    <p class = primerCuadradoTextoAP1> Apartamento </p>
                </div>  

                <div class = primerCuadradoAP1>
                    <img class = primerCuadradoImagenAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = ''>  
                    <p class = primerCuadradoTextoAP1> Apartamento </p>
                </div>  

                <div class = filaTres>
                    <div class = primerCuadradoAP1>
                        <img class = primerCuadradoImagenAP1 src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = ''>  
                        <p class = primerCuadradoTextoAP1> Apartamento </p>
                    </div>  
                </div>
                
 
            </section>
            <!--Linea-->
            <div class = LineaAP1></div>  

            <!--Boton-->
            <input class = botonAP1 type="submit" value = "Siguiente">

    </body>
    
</html>