@media screen and (max-width: 60em) {

    body {

        margin-bottom: 1000px;
    }
    
    
    .container {
    
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "buscador"
        "isla"
        "apartamentos"; 
    
    }
    
    
    h1 {
    
        font-family: 'Rokkitt';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;

    }
    
    
    
    section.buscador {
    
        grid-area: "buscador"; 
        grid-auto-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        height: 300px;
        width: 100%;
        background-image: url(./assets/hotel-nayra-adults-only.jpeg);
        margin: 0 auto;
        margin-top: 40px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #buscador_home {
    
        width: 600px;
        height: 55px;
        margin: auto;
        margin-top: 50px;
    
        background: #FFFFFF;
        border-radius: 9px;
    }
    
    
    section.islas {
    
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "titulo1 titulo1"
        ". ." ". ."
        ". ." ". ." ". ."; 
        gap: 0px 0px; 
        height: 900px;
        margin: auto;
        margin-top: 150px;
        width: max-content;
    }
    
    .titulo1 { 
        grid-area: titulo1; 
        margin: auto;
    }
    
    
    
    
    p {
        font-family: 'Rokkitt';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 23px;
        text-align: center;
        color: black;
    }
    
    
    

    

    h3 {
        position: relative;
        width: 65%;
        height: 33px;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        border-radius: 5px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.7);
        top: -90px;
        left: 20px;
    }
    
    
    .cuadroIsla {
    
        width: 240px;
        height: 200px;
        border-radius: 10px;
        margin-top: 80px;
        margin-left: 55px;
    
    }
    
    .cuadro_texto_isla {
    
        width: 100px;
        height: 33px;
        margin-top: -80px;
        margin-left: 10px;
        background-color: rgba(255, 0, 0, 0.7);
        border-radius: 5px;
    }
    
    
    section.apartamentos {
    
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "titulo2 titulo2"
        ". ." ". ."
        ". ." ". ."; 
        gap: 0px 0px; 
        height: 400px;
        margin: auto;
        margin-top: 150px; 
        width: max-content;
    }
    
    .titulo2 { 
        grid-area: titulo2; 
        margin: auto;
        margin-top: 250px;
    }
    
    

    
    .ApartamentosAB {
        height: 1256.72px;
        margin: 0 auto;
    }
    
    
    
    .CuadroApartAB {
        width: 323px;
        height: 211px;
        margin: auto;
        margin-top: 60px;
        margin-left: 20px;
        border:  2px solid #787878;
        border-radius: 10px;
        color: #685D5D;
    }
    
    .FotoCuadroApartAB {
        width: 320px;
        height: 140px;
        border-radius: 9px 9px 0px 0px;
        margin: auto;
        margin-left: -1px;
        margin-top: -1px;
    }
    
    .recuadroDatosAB{
        width: 320px;
        margin-left: 1px;
        
    }
    
    .FondoValApartAB{
        float: right;
        width: 28px;
        height: 23px;
        margin-top: 5px;
        margin-right: 5px;
        background: #2A2867;        

    }
    
    .ValApartAB {
        font-size: 18px;
        color: #ffffff;
        margin:auto;
    
    }
    
    .NombreApartAB{
        float: left;
        font-size: 20px;
        margin-top: 0;
        
    }
    
    .DirApartAB{
        float: left;
        font-size: 18px;
        font-weight: normal;
        margin-top: -8px;
    
    }
    
    .DesdeApartAB{
        float:right;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-top: -8px;
        margin-right: 8px;
        color: #685D5D;
    }
    
    .PrecioApartAB{
        float:right;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-right: 8px;
        margin-top: -px;
        
        color: #2D2B2B;
    }


}




@media screen and (max-width: 40em) {

    body {

        margin-bottom: 600px;
    }
    
    
    .container {
    
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "buscador"
        "isla"
        "apartamentos"; 
    
    }
    
    
    h1 {
    
        font-family: 'Rokkitt';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;

    }
    
    
    
    section.buscador {
    
        grid-area: "buscador"; 
        grid-auto-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        height: 300px;
        background-image: url(./assets/hotel-nayra-adults-only.jpeg);
        margin: 0 auto;
        margin-top: 40px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #buscador_home {
    
        width: 400px;
        height: 40px;
        margin: auto;
        margin-top: 50px;
    
        background: #FFFFFF;
        border-radius: 9px;
    }
    
    
    section.islas {
    
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "titulo1 titulo1"
        ". ." ". ."
        ". ." ". ." ". ."; 
        gap: 0px 0px; 
        height: 900px;
        margin: auto;
        margin-top: 150px;
        width: max-content;
    }
    
    .titulo1 { 
        grid-area: titulo1; 
        margin: auto;
    }
    
    
    
    
    p {
        font-family: 'Rokkitt';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 23px;
        text-align: center;
        color: black;
    }
    
    .h23 {
        position: relative;
        width: 65%;
        height: 33px;
        font-weight: normal;
        font-size: 23px;
        line-height: 30px;
        border-radius: 5px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.7);
        top: -90px;
        left: 20px;
    }
    
    h3 {
        position: relative;
        width: 62%;
        height: 25px;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.7);
        top: -90px;
        left: 20px;
    }
    
    
    .cuadroIsla {
    
        width: 190px;
        height: 150px;
        border-radius: 10px;
        margin-top: 80px;
        margin-left: 55px;
    
    }
    
    
    
    section.apartamentos {
    
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "titulo2 titulo2"
        ". ." ". ."
        ". ." ". ."; 
        gap: 0px 0px; 
        height: 400px;
        margin: auto;
        margin-top: 150px; 
        width: max-content;
    }
    
    .titulo2 { 
        grid-area: titulo2; 
        margin: auto;
        margin-top: 60px;
    }
    
    

    
    .ApartamentosAB {
        height: 1256.72px;
        margin: 0 auto;
    }
    
    
    
    .CuadroApartAB {
        width: 241px;
        height: 180px;
        margin: auto;
        margin-top: 60px;
        margin-left: 20px;
        border:  2px solid #787878;
        border-radius: 11px;
        color: #685D5D;
    }
    
    .FotoCuadroApartAB {
        width: 237px;
        height: 125px;
        border-radius: 9px 9px 0px 0px;
        margin: auto;
    }
    
    .recuadroDatosAB{
        width: 241px;
        margin-left: 1px;
        
    }
    
    .FondoValApartAB{
        float: right;
        width: 20px;
        height: 18px;
        margin-top: 5px;
        margin-right: 10px;
        background: #2A2867;        

    }
    
    .ValApartAB {
        font-size: 11px;
        color: #ffffff;
        margin:auto;
    
    }
    
    .NombreApartAB{
        float: left;
        font-size: 17px;
        margin-top: 0;
        margin-left: 5px;
        
    }
    
    .DirApartAB{
        float: left;
        font-size: 12px;
        font-weight: normal;
        margin-top: -16px;
        margin-left: 5px;
    
    }
    
    .DesdeApartAB{
        float:right;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        margin-top: -16px;
        margin-right: 8px;
        color: #685D5D;
    }
    
    .PrecioApartAB{
        float:right;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        margin-right: 16px;
        margin-top: -16px;
        
        color: #2D2B2B;
    }



}

