<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canary Dreams</title>
        <link rel="stylesheet" type="text/css" href="./header1.css"/>
    </head>
    <body> 
        <header>   
            <img id = logo src="../assets/logo.png" alt="">
            
            <div id = "fondo_header1">
                <h1 id = fuente>Hazte Anfitrion</h1>
            </div>
            
            <div id = "fondo_header2"> 
                <img id = imagenes src="../assets/Menu1.png" alt="">
                <img id = imagenes src="../assets/Count.png" alt="">
            </div>
        </header>
    </body>
</html>
