/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 1795px
}

#Titulo{
    position: absolute;
    width: 1500px;
    height: 56px;
    left: 75px;
    top: 255px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#imagen{
    position: absolute;
    width: 1338px;
    height: 603px;
    left: 0px;
    top: 585px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#texto1{
    position: absolute;
    width: 249.22px;
    height: 56px;
    left: 212px;
    top: 620px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#texto2{
    position: absolute;
    width: 152.56px;
    height: 56px;
    left: 212px;
    top: 750px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#texto3{
    position: absolute;
    width: 262.03px;
    height: 56px;
    left: 212px;
    top: 900px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#texto4{
    position: absolute;
    width: 138.58px;
    height: 56px;
    left: 212px;
    top: 1040px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}


#num1{
    position: absolute;
    width: 16.91px;
    height: 48px;
    left: 886px;
    top: 648.57px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#num2{
    position: absolute;
    width: 16.91px;
    height: 48px;
    left: 886px;
    top: 778.14px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#num3{
    position: absolute;
    width: 16.91px;
    height: 48px;
    left: 886px;
    top: 919.14px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#num4{
    position: absolute;
    width: 16.91px;
    height: 48px;
    left: 886px;
    top: 1060.14px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#Img1{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 786px;
    top: 690px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img2{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 690px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img3{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 786px;
    top: 820px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img4{ 
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 820px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img5{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 786px;
    top: 960px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img6{ 
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 960px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img7{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 786px;
    top: 1100px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Img8{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 1100px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

#Linea{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 1059.57px;
}





#boton1{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 62px;
    top: 1340px;
    
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

#boton2{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 981px;
    top: 1340px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}


footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
}