<page contentType="text/html" pageEncoding="UTF-8"></page>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Mis Reservas</title>
        <link rel="stylesheet" href="Mis Alojamientos.css">
        <link rel="stylesheet" href="responsiveMA.css">
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <header>
        <include src="../Header/header2.html"></include>
    </header>

    <body class = MJ>

        <section class = recuadroIzq>
            <!--RecuadroIzq-->
            <p class = Texto1RecuadroIzq>INFORMACIÓN PERSONAL</p>
            <hr class = lineaHorizontal1>  </hr>
            <p class = Texto2RecuadroIzq>SEGURIDAD</p>
            <hr class = lineaHorizontal2>  </hr>
            <p class = Texto3RecuadroIzq>MIS RESERVAS</p>
            <hr class = lineaHorizontal3>  </hr>
            <p class = Texto4RecuadroIzq Style = "color: #000000;">GESTIONAR ALOJAMIENTOS</p>
            <hr class = lineaHorizontal4>  </hr>
            <p class = Texto5RecuadroIzq>CERRAR SESIÓN</p>
        </section>
        
        <!--Imagen 1-->

        <img class = Imagen1MJ src = https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt = "">

        <!--Titulo 1-->
        <p class = Titulo1MJ>Mis Alojamientos</p>



        <!--Apartamentos-->
        <section class= ApartamentosMJ>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src=https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> Nombre Apartamento </p>

                    <p class= DirApartMJ> Dirección Apartamento </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> 999,99€ </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            </div>

            

        </section>
        
    </body>

    <footer>
        <include src="../Footer/footer.html"></include>
    </footer>

</html>