body{
    background: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-align: justify;
    
    font-size: 24px;
    float: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
    color: #000000;
}

.seccion_estandar{
    width: 1144px;
    margin: 0 auto;
}
.seccion_estandar_uno{
    width: 1144px;
    height: 150;
    margin: 0 auto;
}

p.sobretitulo_gris{
    font-weight: bold;
    color: #646363;
}

h1.titulo_grande{
    font-size: 44px;
    font-weight: bold;
}

.seccion_estandar_dos{
    width: 1144px;
    height: 500px;
    margin-top: 70;
}

.pri_fi_dos{
    width: 600px;
    height: 500px;
    float: center;
    margin: 0 auto;
}

img.centrada{
    width: 600;
    height: 500;
    float: center;
}

.seccion_estandar_tres{
    width: 1144px;
    margin: 0 auto;
    margin-top: 80;
}

@media screen and (max-width: 60em){
    body{
        background: rgb(255, 255, 255);
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-align: justify;
        
        font-size: 16px;
        float: center;
        padding-top: 60;
        padding-bottom: 60;
        
        color: #000000;
    }
    
    .seccion_estandar{
        width: 768px;
        margin: 0 auto;
    }
    
    .seccion_estandar_uno{
        width: 768px;
        height: 90;
        margin: 0 auto;
    }
    
    p.sobretitulo_gris{
        font-weight: bold;
        color: #646363;
    }
    
    h1.titulo_grande{
        font-size: 28px;
        font-weight: bold;
    }
    
    .seccion_estandar_dos{
        width: 768px;
        height: 350px;
        margin-top: 50;
    }

    .pri_fi_dos{
        width: 408px;
        height: 350px;
        float: center;
        margin: 0 auto;
    }
    
    img.centrada{
        width: 408px;
        height: 350px;
        float: center;
    }
    
    .seccion_estandar_tres{
        width: 768px;
        margin: 0 auto;
        margin-top: 60;
    }
}

@media screen and (max-width: 40em){
    body{
        background: rgb(255, 255, 255);
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-align: justify;
        
        font-size: 9.5px;
        float: center;
        padding-top: 35;
        padding-bottom: 35;
        
        color: #000000;
    } 

    .seccion_estandar{
        width: 448px;
        margin: 0 auto;
    }
    
    .seccion_estandar_uno{
        width: 448px;
        height: 60;
        margin: 0 auto;
    }
    
    p.sobretitulo_gris{
        font-weight: bold;
        color: #646363;
    }
    
    h1.titulo_grande{
        font-size: 17px;
        font-weight: bold;
    }
    
    .seccion_estandar_dos{
        width: 448px;
        height: 200px;
        margin-top: 30;
    }

    .pri_fi_dos{
        width: 250px;
        height: 200px;
        float: center;
        margin: 0 auto;
    }
    
    img.centrada{
        width: 250px;
        height: 200px;
        float: center;
    }
    
    .seccion_estandar_tres{
        width: 448px;
        margin: 0 auto;
        margin-top: 30;
    }


}