
/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    body.AP7{

        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 80px; 
        padding-bottom: 80px;
    
        width: 960px;
    }
    
    
    
    .TituloAP7{
        width: 800px;
        height: 112px;
    
        margin: auto;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .ImagenMenosAP7{
        width: 50px;
        height: 50px;
    
        margin-top: 180;
        margin-left: 140;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .TextoDineroAP7{
    
        width: 400px;
        height: 150px;
    
        margin: auto;
    
        background: #E9E7E7;
        border-radius: 20px;
    
        margin: auto;
        margin-top : -120;
    
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 160px;
        text-align: center;
    
        color: #000000;
    }
    
    .ImagenMasAP7{
        width: 50px;
        height: 50px;
        margin-top: -85;
        margin-left: 790;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .Titulo2AP7{
        width: 500px;
        height: 22px;
    
        margin-left:130;
        margin-top:150;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 42px;
    
        color: #000000;
    }
    
    .ImagenCal1AP7{
        width: 80px;
        height: 70px;
    
        margin-top: -70;
        margin-left: 690;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .ImagenCal2AP7{
        width: 500px;
        height: 400px;
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
        margin: auto;
        margin-top: 100;
    }   
    
    .lineaAP7{
        margin-top: 80;
        width: 960px;
        height: 0px;
    
        border: 3px solid #D5C7C7;
    }
    
    .boton1AP7{
        width: 203px;
        height: 45px;
    
        float: left;
        margin-top: 30;
        margin-left: 30;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    
        color: #FFFFFF;
    }
    
    .boton2AP7{
        width: 203px;
        height: 45px;
    
        float: right;
    
        margin-top: 30;
        margin-right: 30;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    
        color: #FFFFFF;
    }
}

/* 640 to 960 pixels */
@media screen and (max-width: 40em) {
    

    body.AP7{

        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 80px; 
        padding-bottom: 80px;
    
        width: 640px;
    }
    
    
    
    .TituloAP7{
        width: 580px;
        height: 112px;
    
        margin: auto;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 45px;
        text-align: center;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .ImagenMenosAP7{
        width: 30px;
        height: 30px;
    
        margin-top: 70;
        margin-left: 80;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .TextoDineroAP7{
    
        width: 300px;
        height: 100px;
    
        margin: auto;
    
        background: #E9E7E7;
        border-radius: 20px;
    
        margin: auto;
        margin-top : -77;
    
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100px;
        text-align: center;
    
        color: #000000;
    }
    
    .ImagenMasAP7{
        width: 30px;
        height: 30px;
        margin-top: -54;
        margin-left: 520;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .Titulo2AP7{
        width: 500px;
        height: 22px;
    
        margin-left:80;
        margin-top:100;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
    
        color: #000000;
    }
    
    .ImagenCal1AP7{
        width: 60px;
        height: 50px;
    
        margin-top: -50;
        margin-left: 490;
    
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    }
    
    .ImagenCal2AP7{
        width: 300px;
        height: 200px;
        background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
        margin: auto;
        margin-top: 80;
    }   
    
    .lineaAP7{
        margin-top: 70;
        width: 960px;
        height: 0px;
    
        border: 3px solid #D5C7C7;
    }
    
    .boton1AP7{
        width: 150px;
        height: 35px;
    
        float: left;
        margin-top: 30;
        margin-left: 30;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
    
        color: #FFFFFF;
    }
    
    .boton2AP7{
        width: 150px;
        height: 35px;
    
        float: right;
    
        margin-top: 30;
        margin-right: 30;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
    
        color: #FFFFFF;
    }
}