body{
    background: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-align: justify;
    
    font-size: 24px;
    float: center;
    padding-top: 100;
    padding-bottom: 100;
    
    color: #000000;
}

.seccion_estandar{
    width: 1144px;
    margin: 0 auto;
}
.seccion_estandar_uno{
    width: 1144px;
    height: 150;
    margin: 0 auto;
}

p.sobretitulo_gris{
    font-weight: bold;
    color: #646363;
}

h1.titulo_grande{
    font-size: 44;
    font-weight: bold;
}

.seccion_estandar_dos{
    width: 1144px;
    height: 500px;
    margin-top: 70;
}

.pri_fi_dos{
    width: 600px;
    height: 500px;
    float: center;
    margin: 0 auto;
}

img.centrada{
    width: 600;
    height: 500;
    float: center;
}

.seccion_estandar_tres{
    width: 1144px;
    margin: 0 auto;
    margin-top: 80;
}