

<div class= CuadroApartAB>

    <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">
    
    <div class = recuadroDatosAB>

        <div class= FondoValApartAB>

            <p class= ValApartAB> 9.8 </p>

        </div>

        <p class= NombreApartAB> Nombre Apartamento </p>

        <p class= DirApartAB> Dirección Apartamento </p>

        <div class= derechaPrecioAB>

            <p class= PrecioApartAB> 999,99€ </p>

            <p class= DesdeApartAB>  </p>

        </div>

    </div>

</div>
