<page contentType="text/html" pageEncoding="UTF-8"></page>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="wclassth=device-wclassth">
        <title>Anfitrion Paso 4</title>
        <link rel="stylesheet" href="Anfitrión Paso 4.css">
        <link rel="stylesheet" href="responsiveAP4.css">
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <header>
        <include src="../Header/header2.html"></include>
    </header>
    
    <body class = AP4>  

            <!--Titulo-->

            <p class = TituloAP4> INDICA TODO  LO QUE OFRECE TU ESPACIO PARA QUE LOS VIAJEROS LO VEAN </p>

            <!--Imagen-->

            <div class = imagenAP4>  </div>

            <p class = titulo1AP4>¿ Ofreces algún servicio destacado ?</p>

            <!--Parte 1-->
            <section class = primerRecuadroAP4>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Piscina</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Bañera de hidromasaje</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Patio</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Barbacoa</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Mesa de billar</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Chimenea Interior</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Comedor al aire libre</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Equipo para hacer ejercicio</p>
                </div>

            </section>

            <!--Parte 2-->
            <p class = titulo1AP4>¿Y éstos?, son los favoritos de los huéspedes</p>

            <section class = primerRecuadroAP4>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Wifi</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Televisión</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Cocina</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Lavadora</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Parking gratuito</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Aire Acondiconado</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Zona para trabajar</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Ducha exterior</p>
                </div>

            </section>

            <!--Parte 3-->
            <p class = titulo1AP4>¿Dispones de alguno de estos elementos de seguridad?</p>

            <section class = primerRecuadroAP4>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Detector de humo</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Botiquín</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Detector de Monóxido de Carbono</p>
                </div>

                <div class = elemento1AP4>
                    <div class = Img1AP4> </div>
                    <p class = parte1Texto1AP4>Extintor de incendios</p>
                </div>

            </section>
        

            <!--botones-->
            <div class = lineaAP4>  </div>

            <input class = boton1AP4 type="submit" value = "Atrás">
            
            <input class = boton2AP4 type="submit" value = "Siguiente">
    </body>

    <footer>
        <include src="../Footer/footer.html"></include>
    </footer>
    
</html>