/********************ESTO ES APARTAMENTO BUSCADOR********************/
body.AB{

    font-family: Roboto Condensed;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    color: #000000; 

    margin: 0 auto;

    padding-top: 100px; 
    padding-bottom: 100px;
}

section.BuscadorAB {

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    ".";

}

.BuscadorAB{

    width: 1092.8px;
    height: 95.62px;
    margin:auto;
    background: #F4E4E4;
    border-radius: 14px;
    margin-bottom: 30px;

}

/*------------------Apartamentos----------------------*/


section.ApartamentosAB {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "." "." "." "."; 

}

.ApartamentosAB{
    width: 1250px;
    height: 1256.72px;

    margin: 0 auto;
}



.CuadroApartAB {
    width: 368.82px;
    height: 237px;
    
    margin: auto;
    margin-top: 40px;

    border:  2.731px solid #787878;
    box-sizing: border-box;
    border-radius: 9.9718px;

    color: #685D5D;
}

.FotoCuadroApartAB {
    width: 366.088px;
    height: 170px;
    border-radius: 8.2px 8.2px 0px 0px;
    margin: auto;
    margin-left: -1px;
    margin-top: -1px;
}

.recuadroDatosAB{
    width: 367.454pxpx;
    height: 65.568px;
    margin-left: -1px;
    
}

.FondoValApartAB{
    float: right;
    width: 34.15px;
    height: 27.67px;
    margin-top: 5px;
    margin-right: 5px;

    background: #2A2867;
    

}

.ValApartAB {
    font-size:20px;
    color: #ffffff;
    margin:auto;
    

}

.NombreApartAB{
    float: left;
    font-size:22px;
    margin-top: 0;
    
}

.DirApartAB{
    float: left;
    font-size:20px;
    font-weight: normal;
    margin-top: -12.5px;

}

.DesdeApartAB{
    float:right;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: -8px;
    margin-right: 8px;
    color: #685D5D;
}

.PrecioApartAB{
    float:right;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-right: 8px;
    margin-top: -8px;
    
    color: #2D2B2B;
}

.PrecioApartAB{
    float:right;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-right: 8px;
    margin-top: -8px;
    
    color: #2D2B2B;
}

.pasarPaginaAB {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    "."; 

    width: 80px;
    margin: 0 auto;

}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    body.AB{

        font-family: Roboto Condensed;
        font-style: normal;
        font-size: 16;
        text-align: center;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 100px; 
        padding-bottom: 100px;
    }
    
    section.BuscadorAB {
    
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        grid-template-areas: 
        ".";
    
    }
    
    .BuscadorAB{
    
        width: 500px;
        height: 65px;
        margin:auto;
        background: #F4E4E4;
        border-radius: 14px;
        margin-bottom: 30px;
    
    }
    
    /*------------------Apartamentos----------------------*/
    
    
    section.ApartamentosAB {
    
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "." "." "." "." "." "."; 
    
    }
    
    .ApartamentosAB{
        width: 800px;
        height: 1540px;
    
        margin: 0 auto;
    }
    
    
    
    .CuadroApartAB {
        width: 260px;
        height: 190px;
        
        margin: auto;
        margin-top: 40px;
    
        border:  2.731px solid #787878;
        box-sizing: border-box;
        border-radius: 9.9718px;
    
        color: #685D5D;
    }
    
    .FotoCuadroApartAB {
        width: 256px;
        height: 130px;
        border-radius: 8.2px 8.2px 0px 0px;
        margin: auto;
        margin-left: -1px;
        margin-top: -1px;
    }
    
    .recuadroDatosAB{
        width: 256px;
        height: 65.568px;
        margin-left: -1px;
        
    }
    
    .FondoValApartAB{
        float: right;
        width: 20px;
        height: 16px;
        margin-top: 5px;
        margin-right: 5px;
    
        background: #2A2867;
        
    
    }
    
    .ValApartAB {
        font-size:12px;
        color: #ffffff;
        margin:auto;
        
    
    }
    
    .NombreApartAB{
        float: left;
        font-size:16px;
        margin-top: 2;
        
    }
    
    .DirApartAB{
        float: left;
        font-size:16px;
        margin-top: -8;
        font-weight: normal;    
    }
    
    .DesdeApartAB{
        float:right;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        margin-top: -5px;
        margin-right: 5px;
        color: #685D5D;
    }
    
    .PrecioApartAB{
        float:right;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-right: 8px;
        margin-top: -8px;
        
        color: #2D2B2B;
    }
    
    .PrecioApartAB{
        float:right;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-right: 8px;
        margin-top: -8px;
        
        color: #2D2B2B;
    }
    
    .pasarPaginaAB {
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr;
        grid-template-areas: 
        "."; 
    
        width: 80px;
        margin: 0 auto;
    
    }

/* under 690 px */
@media screen and (max-width: 40em) {
    
    body.AB{

    font-family: Roboto Condensed;
    font-style: normal;
    font-size: 10;
    text-align: center;
    color: #000000; 

    margin: 0 auto;

    padding-top: 100px; 
    padding-bottom: 1000px;
}

section.BuscadorAB {

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    ".";

}

.BuscadorAB{

    width: 260px;
    height: 60px;
    margin:auto;
    background: #F4E4E4;
    border-radius: 14px;
    margin-bottom: 30px;

}

/*------------------Apartamentos----------------------*/


section.ApartamentosAB {

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "." "." "." "." "." "." "." "." "." "." "." "."; 

}

.ApartamentosAB{
    width: 640px;
    height: 1800px;

    margin: 0 auto;
}



.CuadroApartAB {
    width: 260px;
    height: 190px;
    
    margin: auto;
    margin-top: 40px;

    border:  2.731px solid #787878;
    box-sizing: border-box;
    border-radius: 9.9718px;

    color: #685D5D;
}

.FotoCuadroApartAB {
    width: 256px;
    height: 130px;
    border-radius: 8.2px 8.2px 0px 0px;
    margin: auto;
    margin-top: -1px;
}

.recuadroDatosAB{
    width: 256px;
    height: 65.568px;
    margin-left: -1px;
    
}

.FondoValApartAB{
    float: right;
    width: 20px;
    height: 16px;
    margin-top: 5px;
    margin-right: 5px;

    background: #2A2867;
    

}

.ValApartAB {
    font-size:12px;
    color: #ffffff;
    margin:auto;
    

}

.NombreApartAB{
    float: left;
    font-size:16px;
    margin-top: 2;
    
}

.DirApartAB{
    float: left;
    font-size:16px;
    margin-top: -8;
    font-weight: normal;    
}

.DesdeApartAB{
    float:right;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-top: -5px;
    margin-right: 5px;
    color: #685D5D;
}

.PrecioApartAB{
    float:right;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 8px;
    margin-top: -8px;
    
    color: #2D2B2B;
}

.PrecioApartAB{
    float:right;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 8px;
    margin-top: -8px;
    
    color: #2D2B2B;
}
}

.pasarPaginaAB {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: "."; 

    width: 80px;
    margin: 0 auto;

}}