footer {

    position: fixed;
    left:0;
    bottom:0;
    height: 3.5%;
    width:100%;


    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 6.77%, rgba(48, 53, 53, 0.94) 31.25%);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    text-align: right;
    color: #FFFFFF;
    

}

.Fuente {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: auto;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

