/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 2100px
}

#Titulo{
    position: absolute;
    width: 975px;
    height: 112px;
    left: 195px;
    top: 143px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    text-align: center;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#RecuadroDinero{
    position: absolute;
    width: 545px;
    height: 183px;
    left: 380px;
    top: 472px;

    background: #E9E7E7;
    border-radius: 20px;
}

#TextoDinero{
    position: absolute;
    width: 454px;
    height: 105px;
    left: 450px;
    top: 410px;

    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 117px;
    text-align: center;

    color: #000000;
}

#ImagenMenos{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 268px;
    top: 534px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#ImagenMas{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 970px;
    top: 534px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#Titulo2{
    position: absolute;
    width: 500px;
    height: 42px;
    left: 230px;
    top: 960px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#ImagenCal1{
    position: absolute;
    width: 117.59px;
    height: 100px;
    left: 960px;
    top: 960px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#ImagenCal2{
    position: absolute;
    width: 689px;
    height: 508px;
    left: 300px;
    top: 1231px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#linea{
    position: absolute;
    width: 1280px;
    height: 0px;
    left: 31px;
    top: 1866px;

    border: 6px solid #D5C7C7;
}

#boton1{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 93px;
    top: 1892px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

#boton2{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 1012px;
    top: 1892px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
    
}