/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 2400px
}

#Titulo{
    position: absolute;
    width: 1000px;
    height: 112px;
    left: 170px;
    top: 160px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#imagen{
    position: absolute;
    width: 144px;
    height: 151px;
    left: 1050px;
    top: 350px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#titulo1{
    position: absolute;
    width: 600px;
    height: 42px;
    left: 150px;
    top: 441px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto1{
    position: absolute;
    width: 105px;
    height: 42px;
    left: 205px;
    top: 537px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto2{
    position: absolute;
    width: 326px;
    height: 42px;
    left: 205px;
    top: 624px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto3{
    position: absolute;
    width: 75px;
    height: 42px;
    left: 205px;
    top: 711px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto4{
    position: absolute;
    width: 135px;
    height: 42px;
    left: 205px;
    top: 798px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto5{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 808px;
    top: 537px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto6{
    position: absolute;
    width: 253px;
    height: 42px;
    left: 808px;
    top: 624px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto7{
    position: absolute;
    width: 306px;
    height: 42px;
    left: 808px;
    top: 711px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte1Texto8{
    position: absolute;
    width: 384px;
    height: 42px;
    left: 808px;
    top: 798px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#titulo2{
    position: absolute;
    width: 660px;
    height: 42px;
    left: 150px;
    top: 993px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#parte2Texto1{
    position: absolute;
    width: 54px;
    height: 42px;
    left: 215px;
    top: 1100px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte2Texto2{
    position: absolute;
    width: 143px;
    height: 42px;
    left: 215px;
    top: 1187px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte2Texto3{
    position: absolute;
    width: 99px;
    height: 42px;
    left: 215px;
    top: 1274px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte2Texto4{
    position: absolute;
    width: 130px;
    height: 42px;
    left: 215px;
    top: 1361px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}


#parte2Texto5{
    position: absolute;
    width: 226px;
    height: 42px;
    left: 818px;
    top: 1100px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}


#parte2Texto6{
    position: absolute;
    width: 270px;
    height: 42px;
    left: 818px;
    top: 1187px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}


#parte2Texto7{
    position: absolute;
    width: 260px;
    height: 42px;
    left: 818px;
    top: 1274px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}


#parte2Texto8{
    position: absolute;
    width: 207px;
    height: 42px;
    left: 818px;
    top: 1361px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;;
    line-height: 42px;

    color: #000000;
}

#titulo3{
    position: absolute;
    width: 788px;
    height: 42px;
    left: 150px;
    top: 1588px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#parte3Texto1{
    position: absolute;
    width: 253px;
    height: 42px;
    left: 215px;
    top: 1695px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte3Texto2{
    position: absolute;
    width: 118px;
    height: 42px;
    left: 215px;
    top: 1782px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

#parte3Texto3{
    position: absolute;
    width: 484px;
    height: 42px;
    left: 734px;
    top: 1698px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;

}

#parte3Texto4{
    position: absolute;
    width: 298px;
    height: 42px;
    left: 734px;
    top: 1782px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;

}

#Img1{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 150px;
    top: 565px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img2{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 150px;
    top: 650px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img3{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 150px;
    top: 733px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img4{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 150px;
    top: 820px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img5{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 753px;
    top: 565px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img6{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 753px;
    top: 650px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img7{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 753px;
    top: 733px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img8{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 753px;
    top: 820px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img9{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1128px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img10{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1218px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img11{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1307px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img12{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1385px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img13{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 763px;
    top: 1128px;


    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img14{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 763px;
    top: 1218px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img15{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 763px;
    top: 1307px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img16{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 763px;
    top: 1385px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img17{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1720px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img18{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 1810px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img19{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 679px;
    top: 1720px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}


#Img20{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 679px;
    top: 1810px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#linea{
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 2112px;

    border: 6px solid #D5C7C7;
    transform: rotate(0.08deg);
}

#boton1{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 108px;
    top: 2140px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

#boton2{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 1027px;
    top: 2140px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
    
}