/********************ESTO ES APARTAMENTO BUSCADOR********************/
body.AP3{

    font-family: Roboto Condensed;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    color: #000000; 

    margin: 0 auto;

    padding-top: 100px; 
    padding-bottom: 100px;

    width: 1366px;

}

/********************ESTO ES ANFITRIÓN PASO 3********************/

.TituloAP3{
    width: 1300px;
    height: 56px;

    margin: auto;

    margin-bottom: 40;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

.imagenAP3{
    width: 1338px;
    height: 603px;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "." "." "." ".";

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

.texto1AP3{
    width: 249.22px;
    height: 56px;

    margin-left:273;
    margin-top:50;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  

}

.texto2AP3{
    width: 249.22px;
    height: 56px;

    margin-left:229;
    margin-top:50;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  

}

.texto3AP3{
    width: 249.22px;
    height: 56px;

    margin-left:280;
    margin-top:50;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  

}

.texto4AP3{
    width: 249.22px;
    height: 56px;

    margin-left:222;
    margin-top:50;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  

}

.sumarAP3{
    margin-top:60;
    margin-left:100;
    width: 200;
    height: 50;
}

.num1AP3{
    width: 16.91px;
    height: 48px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    margin-top: -40;
    margin-left: 80;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  

}

.Img1AP3{
    width: 33.83px;
    height: 41.14px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

.Img2AP3{
    margin-top: -85;
    margin-left: 150;
    width: 33.83px;
    height: 41.14px;
    background: url(https://www.istockphoto.com/resources/images/PhotoFTLP/998044806.jpg);
}

.LineaAP3{
    position: absolute;
    width: 33.83px;
    height: 41.14px;
    left: 962.17px;
    top: 929.57px;
}

.boton1AP3{
    width: 253px;
    height: 55px;
    float: left;
    margin-top: 40;
    margin-left: 40;
    
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.boton2AP3{
    width: 253px;
    height: 55px;

    float: right;
    margin-top: 40;

    margin-right: 40;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}