
/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    
    body.S{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 100px; 
        padding-bottom: 100px;
        color: #000000; 
        margin: 0 auto;
        width: 960px;
    }
    
    .recuadroIzq{
        width: 300px;
        height: 390px;
        margin: 0 auto;
        float: left;
        margin-top:-55;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 295px;
        height: 10px;
    
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin-top: 25;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin-top: 25;
        margin-left: 75;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 200px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 50;
        margin-top: 25;
    
        font-size: 16px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 330px;
        height: 10px;
        text-align: center;

        margin-left: -20;
        margin-top: 25;
    
        font-size: 16px;
        line-height: 28px;
        margin-top: 25;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 200px;
        margin-top: 25;
        height: 28px;
        text-align: center;

        margin-left: 47;
    
        font-size: 16px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .ImagenS{
        width: 300px;
        height: 300px;
        margin-left: -00;
    }
    
    .Texto1S{
        width: 220px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto2S{
        width: 220px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto3S{
        width: 450px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto4S{
        width: 350px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto5S{
        width: 250px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .estrucuturaFormS1{
        width: 900px;
        height: 80px;
    
        margin-left: 128;
        margin-top: 70;
    
    }
    
    .estrucuturaFormS2{
        width: 900px;
        height: 80px;
    
        margin-left: 120;
        margin-top: 70;
    
    }
    
    .estrucuturaFormS3{
        width: 900px;
        height: 80px;
    
        margin-left: 52;
        margin-top: 70;
    }
    
    .estrucuturaFormS4{
        width: 900px;
        height: 80px;
    
        margin-left: 100;
        margin-top: 70;
    }
    
    .estrucuturaFormS5{
        width: 900px;
        height: 80px;
    
        margin-left: 106;
        margin-top: 70;
    }
    
    .RecuadroS{
        margin-top: 100;
        width: 960px;
        height: 800px;
        background: #FFFFFF;
    }
    
    .Recuadro1S{
        width: 300px;
        height: 35px;
        margin-left: -190;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25;
        margin-left: 160px;
    }
    
    .Recuadro2S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25;
        margin-left: 170px;
    }
    
    .Recuadro3S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17;
        margin-left: 5px;
    
    }
    
    .Recuadro4S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17;
        margin-left: 52;
    }
    
    .Recuadro5S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17;
        margin-left: 144;
    }
    
    
    .BotonAplicarS{
        width: 131px;
        height: 36px;
    
        background: rgba(239, 60, 86, 0.37);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }

/* under 640 px */
@media screen and (max-width: 40em) {
    
    
    body.S{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 100px; 
        padding-bottom: 100px;
        color: #000000; 
        margin: 0 auto;
        width: 640px;
    }
    
    .recuadroIzq{
        width: 250px;
        height: 290px;
        margin: 0 auto;
        float: left;
        margin-top:-55;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 245px;
        height: 10px;
    
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        margin-top: 15;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        margin-top: 15;
        margin-left: 50;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 200px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 25;
        margin-top: 15;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 330px;
        height: 10px;
        text-align: center;

        margin-left: -38;
        margin-top: 15;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 200px;
        margin-top: 15;
        height: 28px;
        text-align: center;

        margin-left: 29;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .ImagenS{
        width: 200px;
        height: 200px;
        margin-left: 0;
    }
    
    .Texto1S{
        width: 150px;
        height: 30px;
        font-size: 15px;
        float: left;
    }
    
    .Texto2S{
        width: 145px;
        height: 30px;
        font-size: 15px;
        float: left;
    }
    
    .Texto3S{
        width: 250px;
        height: 30px;
        font-size: 15px;
        float: left;
        margin-left:70;
    }
    
    .Texto4S{
        width: 250px;
        height: 30px;
        font-size: 15px;
        margin-left:20;
        float: left;
    }
    
    .Texto5S{
        width: 150px;
        height: 30px;
        font-size: 15px;
        float: left;
        margin-left:17;
    }
    
    .estrucuturaFormS1{
        width: 700px;
        height: 80px;
    
        margin-left: 20;
        margin-top: 70;
    
    }
    
    .estrucuturaFormS2{
        width: 700px;
        height: 80px;
    
        margin-left: 15;
        margin-top: 30;
    
    }
    
    .estrucuturaFormS3{
        width: 800px;
        height: 80px;
    
        margin-left: -68;
        margin-top: 30;
    }
    
    .estrucuturaFormS4{
        width: 800px;
        height: 80px;
    
        margin-left: -19;
        margin-top: 30;
    }
    
    .estrucuturaFormS5{
        width: 800px;
        height: 80px;
    
        margin-left: 0;
        margin-top: 30;
    }
    
    .RecuadroS{
        margin-top: 100;
        width: 640px;
        height: 550px;
        background: #FFFFFF;
    }
    
    .Recuadro1S{
        width: 220px;
        height: 35px;
        margin-right: 120;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10;
        margin-left: 160px;
    }
    
    .Recuadro2S{
        width: 220px;
        height: 35px;
        margin-right: 140;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10;
        margin-left: 170px;
    }
    
    .Recuadro3S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10;
        margin-left: 78px;
    
    }
    
    .Recuadro4S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10;
        margin-left: 75;
    }
    
    .Recuadro5S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 4;
        margin-left: 160;
    }
    
    
    .BotonAplicarS{
        width: 131px;
        height: 36px;
    
        background: rgba(239, 60, 86, 0.37);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
}}