/*--------------------Header------------------------*/

Header{
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    position: absolute;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

/*----------------------Body--------------------------*/

body{

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    float: center;
    padding-top: 100;
    padding-bottom: 100;
    
    color: #000000;

    margin: 0 auto;
}

/*------------------Primera Sección----------------------*/

#PrimerRecuadro{
    width: 1144px;
    height: 578px;
    margin: 0 auto;
    
}

#FondoPrimerRecuadro{
    width: 554px;
    height: 578px;
    background: #FDF9F2;
    border-radius: 31px;
    float: left;
}

#PrimerRecuadroTexto{
    width: 506.39px;
    font-size: 40px;
    margin-top: 130;
    margin-left: auto;
    margin-right: auto;
}

#PrimerRecuadroTexto2{
    width: 506.39px;
    font-size: 20px;
    line-height: 47px;
    margin-left: auto;
    margin-right: auto;
}

#PrimerRecuadroBoton{
    width: 229.39px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60;

    background: #9BF5AE;
    border-radius: 8px;

    font-size: 25px;
}

#PrimeraImagen{
    width: 490px;
    height: 515px;

    border-radius: 277px;
    float: right;
}

/*-------------------------Segunda Sección----------------------------*/

#SegundoRecuadroFondo{
    width: 1144px;
    height: 1300px;

    margin: 0 auto;
    margin-top: 100;

    background: #FDF9F2;
    border-radius: 21px;
    float: center;
}

#SegundoRecuadroTitulo{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 50;
    
    font-size: 40px;
    line-height: 47px;
}

#SegundoRecuadroSegTitulo{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
    font-size: 27px;
    line-height: 32px;
}

/*--------Punto 1--------*/

#SegundoRecuadroPunto1{
    height: 250px;

    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-top: 50;
    margin-left: 50;
    margin-right: 50;
}

#SegundoRecuadroPunto1Texto{
    width: 436px;
    float: left;
    font-weight: 500;
}

#SegundoRecuadroPunto1Tit{
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;

}

#SegundoRecuadroImg1{
    width: 500px;
    height: 252px;
    float: right;
}

/*--------Punto 2--------*/

#SegundoRecuadroPunto2{
    height: 253px;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-top: 80;
    margin-left: 50;
    margin-right: 50;
}

#SegundoRecuadroPunto2Texto{
    width: 470px;
    float: right;
}
#SegundoRecuadroPunto2Tit{
    width: 470px;

    font-size: 40px;
    line-height: 47px;

}

#SegundoRecuadroPunto2Text{
    width: 436px;

    font-size: 30px;
    line-height: 35px;
    text-align: align;
    font-weight: 500;
}

#SegundoRecuadroImg2{
    width: 390px;
    height: 297px;

    float: left;
    margin-top: 20;
}

/*--------Punto 3--------*/

#SegundoRecuadroPunto3{
    width: 1100px;
    height: 400px;
    margin-top: 70;
    margin-left: 50;
    float: left;
}

#SegundoRecuadroPunto3Texto{
    width: 509px;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    float: left;
}

#SegundoRecuadroPunto3Tit{
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 47px;

}

#SegundoRecuadroPunto3Text{
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    font-weight: 500;
}

#SegundoRecuadroImg3{
    width: 480px;
    height: 300px;
    float: right;
    margin-right: 50;
}

/*--------------------------Tercera Sección----------------------------*/

#TercerRecuadroFondo{
    width: 1144px;
    height: 700px;

    margin: 0 auto;
    margin-top: 100;

    background: #FDF9F2;
    border-radius: 21px;
}
#TercerRecuadroTitulo{

    width: 1037px;

    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    padding-top: 35;
}
#imagenTexto{
    width: 1037px;
    height: 371px;
    margin-top: 70;
    margin-left: 40;

}
#TercerRecuadroTexto2{ 
    width: 500px;  
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 100;
    float: left;
}

#TercerRecuadroImagen{
    width: 500px;
    height: 371px;

    float: right;
}

#TercerRecuadroBoton{

    width: 250px;
    height: 52px;
    background: rgba(144, 245, 166, 0.9);
    border-radius: 7px;
    margin-top: 70;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: BOLD;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

}

/*------------------------------ Footer---------------------------------*/ 

footer {

    position: fixed;
    left:0;
    bottom:0;
    height: 40px;
    width:100%;


    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 6.77%, rgba(48, 53, 53, 0.94) 31.25%);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    text-align: right;
    color: #FFFFFF;
    

}
