/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 1250px
}

#Titulo{
    position: absolute;
    width: 1500px;
    height: 56px;
    left: 30px;
    top: 212px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#SegTitulo{
    position: absolute;
    width: 500px;
    height: 28px;
    left: 50px;
    top: 363px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

#imagenCasa{
    position: absolute;
    width: 155px;
    height: 143px;
    left: 1015px;
    top: 360px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#primerCuadrado{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 77px;
    top: 550px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#primerCuadradoImagen{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 435px;
    top: 566px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#primerCuadradoTexto{
    position: absolute;
    width: 209px;
    height: 45.46px;
    left: 125px;
    top: 560px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#segundoCuadrado{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 666px;
    top: 550px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#segundoCuadradoimagen{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 1024px;
    top: 566px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#segundoCuadradoTexto{
    position: absolute;
    width: 94px;
    height: 45px;
    left: 714px;
    top: 560px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#tercerCuadrado{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 77px;
    top: 750px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#tercerCuadradoimagen{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 435px;
    top: 765px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#tercerCuadradoTexto{
    position: absolute;
    width: 234px;
    height: 46px;
    left: 126px;
    top: 765px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#cuartoCuadrado{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 666px;
    top: 750px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#cuartoCuadradoimagen{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 1024px;
    top: 765px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#cuartoCuadradoTexto{
    position: absolute;
    width: 97px;
    height: 46px;
    left: 715px;
    top: 765px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#quintoCuadrado{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 360px;
    top: 950px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#quintoCuadradoimagen{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 728px;
    top: 965px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#quintoCuadradoTexto{
    position: absolute;
    width: 77px;
    height: 46px;
    left: 419px;
    top: 965px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#linea{
    position: absolute;
    width: 1360px;
    height: 0px;
    left: 0px;
    top: 1130px;

    border: 6px solid #D5C7C7;
}

#boton{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 981px;
    top: 1156px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}


footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
}