
/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    body.IP{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 100px; 
        padding-bottom: 100px;
        color: #000000; 
        margin: 0 auto;
        width: 960px;
    }
    
    .recuadroIzq{
        width: 300px;
        height: 390px;
        margin: 0 auto;
        float: left;
        margin-top:-55;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 295px;
        height: 1px;
        margin-top:40;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 295px;
        height: 10px;
    
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin-top: 25;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin-top: 25;
        margin-left: 75;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 200px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 50;
        margin-top: 25;
    
        font-size: 16px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 330px;
        height: 10px;
        text-align: center;

        margin-left: -20;
        margin-top: 25;
    
        font-size: 16px;
        line-height: 28px;
        margin-top: 25;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 200px;
        margin-top: 25;
        height: 28px;
        text-align: center;

        margin-left: 47;
    
        font-size: 16px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Imagen1IP{
        width: 350px;
        height: 260px;

        margin-left: 40;
        margin-top: 40;
    }
    
    .formularioIP{
        margin-top: 50;
        width: 960px;
        height: 1000px;
    
        border: 0px solid #ff0000;
        box-sizing: border-box; 
    }
    
    .Imagen2IP{
        width: 150px;
        height: 70px;
        margin-left: -760px;
        margin-top: 10px;
    }
    
    .Texto1IP{
        width: 101px;
        height: 30px;
    
        margin-left: 60;
        margin-top: 70;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto2IP{
        width: 96px;
        height: 28px;
    
        margin-left: 65;
        margin-top: 90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto3IP{
        width: 41px;
        height: 28px;
    
        margin-left: 70;
        margin-top: 90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto4IP{
        width: 90px;
        height: 28px;
    
        margin-left: 70;
        margin-top:90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto5IP{
        width: 220px;
        height: 28px;
    
        margin-left: 69;
        margin-top:90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto6IP{
        width: 31px;
        height: 28px;
        
        margin-left: 80;
        margin-top:-30;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto7IP{
        width: 41px;
        height: 28px;
    
        margin-left: 180;
        margin-top:-30;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto8IP{
        width: 38px;
        height: 28px;
    
        margin-left: 280;
        margin-top:-30;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    
    }
    
    .Texto9IP{
        width: 70px;
        height: 28px;
    
        margin-left: 500;
        margin-top:-120;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto10IP{
        width: 200px;
        height: 28px;
    
        margin-left: 60;
        margin-top:60;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto11IP{
        width: 300px;
        height: 28px;
    
        margin-left: 490;
        margin-top:-86;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Recuadro1IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400;
        margin-top:-60;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro2IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400;
        margin-top:-55;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro3IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400;
        margin-top:-55;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro4IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400;
        margin-top:-55;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro5IP{
        width: 87px;
        height: 36px;
    
        margin-left: 70;
        margin-top:30;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro6IP{
        width: 87px;
        height: 36px;
        margin-left: 170;
        margin-top:-58;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro7IP{
        width: 87px;
        height: 36px;
    
        margin-left: 270;
        margin-top:-58;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro8IP{
        width: 87px;
        height: 35px;
    
        margin-left: 335;
        margin-top:-58;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro9IP{
        width: 410px;
        height: 35px;
    
        margin-left: 500;
        margin-top:10;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro10IP{
        width: 410px;
        height: 35px;
    
        margin-left: 60;
        margin-top: 10;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro11IP{
        width: 410px;
        height: 35px;
    
        margin-top: -1;
        margin-left: 500;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .BotonCambiarIP{
        width: 146px;
        height: 33px;
    
        background: #23A3A5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #FFFFFF;
    }

/* under 690 px */
@media screen and (max-width: 40em) {
    
    body.IP{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 100px; 
        padding-bottom: 100px;
        color: #000000; 
        margin: 0 auto;
        width: 640px;
    }
    
    .recuadroIzq{
        width: 250px;
        height: 290px;
        margin: 0 auto;
        float: left;
        margin-top:-55;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 245px;
        height: 1px;
        margin-top:30;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 245px;
        height: 10px;
    
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        margin-top: 15;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        margin-top: 15;
        margin-left: 50;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 200px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 25;
        margin-top: 15;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 330px;
        height: 10px;
        text-align: center;

        margin-left: -38;
        margin-top: 15;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 200px;
        margin-top: 15;
        height: 28px;
        text-align: center;

        margin-left: 29;
    
        font-size: 12px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Imagen1IP{
        width: 250px;
        height: 250px;

        margin-left: 1;
        margin-top: -25;
    }
    
    .formularioIP{
        margin-top: 50;
        width: 960px;
        height: 1000px;
    
        border: 0px solid #ff0000;
        box-sizing: border-box; 
    }
    
    .Imagen2IP{
        width: 0px;
        height: 0px;
    }
    
    .Texto1IP{
        width: 101px;
        height: 30px;
    
        margin-left: 60;
        margin-top: 70;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto2IP{
        width: 96px;
        height: 28px;
    
        margin-left: 70;
        margin-top: 90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto3IP{
        width: 41px;
        height: 28px;
    
        margin-left: 80;
        margin-top: 90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto4IP{
        width: 90px;
        height: 28px;
    
        margin-left: 70;
        margin-top:90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto5IP{
        width: 220px;
        height: 28px;
    
        margin-left: 56;
        margin-top:90;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto6IP{
        width: 31px;
        height: 28px;
        
        margin-left: 190;
        margin-top:-27;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto7IP{
        width: 41px;
        height: 28px;
    
        margin-left: 290;
        margin-top:-27;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto8IP{
        width: 38px;
        height: 28px;
    
        margin-left: 390;
        margin-top:-28;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    
    }
    
    .Texto9IP{
        width: 70px;
        height: 28px;
    
        margin-left: 70;
        margin-top: 40;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto10IP{
        width: 200px;
        height: 28px;
    
        margin-left: 60;
        margin-top:60;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto11IP{
        width: 300px;
        height: 28px;
    
        margin-left: 45;
        margin-top: 30;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Recuadro1IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220;
        margin-top:-50;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro2IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220;
        margin-top:-45;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro3IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220;
        margin-top:-50;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro4IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220;
        margin-top:-50;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro5IP{
        width: 87px;
        height: 25px;
    
        margin-left: 170;
        margin-top:30;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro6IP{
        width: 87px;
        height: 25px;
        margin-left: 270;
        margin-top:-46;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro7IP{
        width: 87px;
        height: 25px;
    
        margin-left: 370;
        margin-top:-46;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro8IP{
        width: 87px;
        height: 25px;
    
        margin-left: 335;
        margin-top:-58;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro9IP{
        width: 250px;
        height: 25px;
    
        margin-left: 170;
        margin-top:10;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro10IP{
        width: 410px;
        height: 25px;
    
        margin-left: 100;
        margin-top: 10;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro11IP{
        width: 410px;
        height: 25px;
    
        
        margin-left: 100;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .BotonCambiarIP{
        width: 146px;
        height: 33px;
        margin-top: 10;
    
        background: #23A3A5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #FFFFFF;
    }
}}