/* MENU INICIAL */

#Recuadro{
    position: absolute;
    width: 872px;
    height: 82px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
}

#RecuadroLupa{
    position: absolute;
    width: 63px;
    height: 58px;
    left: 790px;
    top: 10px;

    background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0.66) 100%);
    border-radius: 10px;
}

#LineaVertical1{
    position: absolute;
    width: 79px;
    height: 0px;
    left: 520px;
    top: 41px;

    border: 1px solid #646464;
    transform: rotate(90deg);
}

#LineaVertical2{
    position: absolute;
    width: 79px;
    height: 0px;
    left: 330px;
    top: 41px;

    border: 1px solid #646464;
    transform: rotate(90deg);
}

#LineaVertical3{
    position: absolute;
    width: 79px;
    height: 0px;
    left: 150px;
    top: 41px;

    border: 1px solid #646464;
    transform: rotate(90deg);
}

#Texto1{
    position: absolute;
    width: 77px;
    height: 21px;
    left: 50px;
    top: -20px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;

    color: #646464;
}

#Texto2{
    position: absolute;
    width: 77px;
    height: 21px;
    left: 240px;
    top: -20px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;

    color: #646464;
}

#Texto3{
    position: absolute;
    width: 77px;
    height: 21px;
    left: 430px;
    top: -20px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;

    color: #646464;
}

#Texto4{
    position: absolute;
    width: 77px;
    height: 21px;
    left: 630px;
    top: -20px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;

    color: #646464;
}

#Img1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 6px;
    background:rgba(142, 51, 199, 0.66);
}

#Img2{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 210px;
    top: 4px;
    background:rgba(142, 51, 199, 0.66);
}

#Img3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 400px;
    top: 6px;
    background:rgba(142, 51, 199, 0.66);
}

#Img4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 589px;
    top: 6px;
    background:rgba(142, 51, 199, 0.66);
}