/*-------------------Header 2------------------*/

header {
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

#logo2{
    position: absolute; 
    left: 16px; 
    top: 0px;
    width: 50px;
    height:45px;
}

#fondo_header12 {
    position: absolute;
    height: 30px;
    top: 8px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
    
    width: 150px;
    right: 40px; 
    border-radius: 25px;
}

#imagenes2{
    width: 30px;
    height: 30px;
    margin-left: 25px;
}

#fuente2{
    font-size: 16px;
    margin-top: 6px;
    margin-left: 15px;

    color: rgb(255, 255, 255);
}

@media screen and (max-width:60em) {

    header {
        position: absolute;
        width: 100%;
        height: 35px;
        left: 0px;
        top: 0px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }

    #logo2{
        position: absolute; 
        left: 10px; 
        top: 0px;
        width: 40px;
        height:35px;
    }
    
    #fondo_header12 {
        position: absolute;
        height: 25px;
        top: 6px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 120px;
        right: 40px; 
        border-radius: 25px;
    }
    
    #imagenes2{
        width: 27px;
        height: 27px;
        margin-left: 22px;
    }
    
    #fuente2{
        font-size: 16px;
        margin-top: 6px;
        margin-left: 15px;
    
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width:40em) {

    header {
        position: absolute;
        width: 100%;
        height: 25px;
        left: 0px;
        top: 0px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }
    
    #logo2{
        position: absolute; 
        left: 5px; 
        top: 0px;
        width: 30px;
        height:25px;
    }
    
    #fondo_header12 {
        position: absolute;
        height: 20px;
        top: 3px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 100px;
        right: 30px; 
        border-radius: 25px;
    }
    
    #imagenes2{
        width: 2px;
        height: 20px;
        margin-left: 20px;
    }
    
    #fuente2{
        font-size: 16px;
        margin-top: 6px;
        margin-left: 15px;
    
        color: rgb(255, 255, 255);
    }
}

/*-------------------Header 3------------------*/

header {
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

#logo{
    position: absolute; 
    left: 16px; 
    top: 0px;
    width: 50px;
    height:45px;
}

#fondo_header1 {
    position: absolute;
    height: 30px;
    top: 8px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
    
    width: 100px; 
    right: 10px; 
    border-radius: 10px;
}

#fondo_header2 {
    position: absolute;
    height: 30px;
    top: 8px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
    
    width: 100px; 
    right: 10px; 
    border-radius: 10px;
}

#imagenes{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#fuente{
    font-size: 16px;
    margin-top: 6px;
    margin-left: 15px;

    color: rgb(255, 255, 255);
}

@media screen and (max-width:60em) {
    header {
        position: absolute;
        width: 100%;
        height: 35px;
        left: 0px;
        top: 0px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }
    
    #logo{
        position: absolute; 
        left: 13px; 
        top: 0px;
        width: 40px;
        height:35px;
    }
    
    #fondo_header1 {
        position: absolute;
        height: 22px;
        top: 8px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 120px;
        right: 130px; 
        border-radius: 25px;
    }
    
    #fondo_header2 {
        position: absolute;
        height: 22px;
        top: 8px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 80px; 
        right: 10px; 
        border-radius: 10px;
    }
    
    #imagenes{
        width: 25px;
        height: 25px;
        margin-top: -1px;
    }
    
    #fuente{
        font-size: 14px;
        margin-top: 6px;
        margin-left: 13px;
        margin-top: 2px;
    
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width:40em) {
    header {
        position: absolute;
        width: 100%;
        height: 25px;
        left: 0px;
        top: 0px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }
    
    #logo{
        position: absolute; 
        left: 10px; 
        top: 0px;
        width: 30px;
        height:25px;
    }
    
    #fondo_header1 {
        position: absolute;
        height: 17px;
        top: 4px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 80px;
        right: 130px; 
        border-radius: 25px;
    }
    
    #fondo_header2 {
        position: absolute;
        height: 17px;
        top: 4px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        
        width: 80px; 
        right: 10px; 
        border-radius: 10px;
    }
    
    #imagenes2{
        width: 20px;
        height: 20px;
        margin-left: 16px;
        margin-top: 0px;
    }
    
    #fuente{
        font-size: 8.4px;
        margin-top: 6px;
        margin-left: 14px;
        margin-top: 4px;
    
        color: rgb(255, 255, 255);
    }
}

