<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Info Person</title>
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <body class = IP>
            
            <section class = recuadroIzq>
                <!--RecuadroIzq-->
                <p class = Texto1RecuadroIzq Style = "color: #000000;">INFORMACIÓN PERSONAL</p>
                <hr class = lineaHorizontal1> 
                <p class = Texto2RecuadroIzq>SEGURIDAD</p>
                <hr class = lineaHorizontal2> 
                <p class = Texto3RecuadroIzq Style = "color:rgba(0, 0, 0, 0.5);;">MIS RESERVAS</p>
                <hr class = lineaHorizontal3> 
                <p class = Texto4RecuadroIzq>GESTIONAR ALOJAMIENTOS</p>
                <hr class = lineaHorizontal4>
                <p class = Texto5RecuadroIzq>CERRAR SESIÓN</p>
            </section>

            <!--Imagen 1-->

            <img class = Imagen1IP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = "">

            
            <!--Formulario-->

            <section class = formularioIP>

            <img class = Imagen2IP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = "">
            
            <div>
                <p class = Texto1IP>Nombre:</p>
                <input class="Recuadro1IP" type="text" name="Nombre">
                <!--<div class = Recuadro1IP>  </div>-->
            </div>
            
            <div>
                <p class = Texto2IP>Apellidos:</p>
                <input class="Recuadro2IP" type="text" name="Apellidos">
                <!--<div class = Recuadro2IP>  </div>-->
            </div>

            <div>
                <p class = Texto3IP>DNI:</p>
                <input class="Recuadro3IP" type="text" name="DNI">
                <!--<div class = Recuadro3IP>  </div>-->
            </div>

            <div>
                <p class = Texto4IP>Teléfono:</p>
                <input class="Recuadro4IP" type="text" name="Teléfono">
                <!--<div class = Recuadro4IP>  </div>-->
            </div>

            <div>
                <p class = Texto5IP>Fecha de Nacimiento:</p>
                <input class="Recuadro5IP" type="text" name="Fecha de Nacimiento">
                <!--<div class = Recuadro5IP>  </div>-->
            </div>

            <div>
                <p class = Texto6IP>Dia</p>
                <input class="Recuadro6IP" type="text">
                <!--<div class = Recuadro6IP>  </div>-->
                <p class = Texto7IP>Mes</p>
                <input class="Recuadro7IP" type="text">
                <!--<div class = Recuadro7IP>  </div>-->
                <p class = Texto8IP>Año</p>
                <input class="Recuadro8IP" type="text" >
                <!--<div class = Recuadro8IP>  </div>-->
            </div>

            <div>
                <p class = Texto9IP>Sexo:</p>
                <input class="Recuadro9IP" type="text" name="Sexo">
                <!--<div class = Recuadro9IP>  </div>-->
            </div>
            
            <div> 
                <p class = Texto10IP>Correo electrónico:</p>
                <input class="Recuadro10IP" type="text" name="Correo electrónico:">
                <!--<div class = Recuadro10IP>  </div>-->
            </div>

            <div>
                <p class = Texto11IP>Cambiar correo electrónico:</p>
                <input class="Recuadro11IP" type="text" name="Cambiar correo electrónico:">
                <!--<div class = Recuadro11IP>  </div>-->
            </div>

            </section>
            <!--Boton-->

            <input class = BotonCambiarIP type="submit" value = "CAMBIAR" (click)="cambiarDatos()">

            <p *ngIf="cambio">{{mensaje}}</p>

    </body>

</html>