/********************ESTO ES INFO PERSONAL********************/
@media screen and (min-width: 40em) {
    body.IP{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        text-align: center;
        color: #000000; 

        margin: 0 auto;

        padding-top: 95px; 
        padding-bottom: 100px;
        width: 100%;
        overflow: hidden;
    }

    .recuadroIzq{
        width: 300px;
        height: 627px;
        margin: 0 auto;
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 296px;
        height: 1px;
        margin-top:35px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 296px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 296px;
        height: 1px;
        margin-top:48px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 296px;
        height: 1px;
        margin-top:50px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        width: 296px;
        height: 28px;
    
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 45px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 296px;
        height: 28px;
    
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 45px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 296px;
        height: 28px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 50px;
    
        font-size: 18px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 296px;
        height: 28px;
        text-align: center;
    
        font-size: 18px;
        line-height: 28px;
        margin-top: 58px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 296px;
        margin-top: 50px;
        height: 28px;
        text-align: center;
        margin-left: 0px;
    
        font-size: 18px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Imagen1IP{
        width: 550px;
        height: 450px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .formularioIP{
        margin-top: 100px;
        width: 1366px;
        height: 1000px;

        border: 0px solid #ff0000;
        box-sizing: border-box; 
    }

    .Imagen2IP{
        width: 225px;
        height: 113px;
        margin-left: -1400px;
        margin-top: 120px;
    }

    .Texto1IP{
        width: 101px;
        height: 30px;

        margin-left: 590px;
        margin-top: -90px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto2IP{
        width: 96px;
        height: 28px;

        margin-left: 600px;
        margin-top: 90px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto3IP{
        width: 41px;
        height: 28px;

        margin-left: 600px;
        margin-top: 90px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto4IP{
        width: 90px;
        height: 28px;

        margin-left: 350px;
        margin-top:90px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto5IP{
        width: 220px;
        height: 28px;

        margin-left: 100px;
        margin-top:90px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    .Texto6IP{
        width: 31px;
        height: 28px;
        
        margin-left: 120px;
        margin-top:-30px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    .Texto7IP{
        width: 41px;
        height: 28px;

        margin-left: 240px;
        margin-top:-30px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    .Texto8IP{
        width: 38px;
        height: 28px;

        margin-left: 350px;
        margin-top:-30px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;

        color: #000000;

    }

    .Texto9IP{
        width: 70px;
        height: 28px;

        margin-left: 700px;
        margin-top:-110px;


        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto10IP{
        width: 200px;
        height: 28px;

        margin-left: 100px;
        margin-top:60px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Texto11IP{
        width: 300px;
        height: 28px;

        margin-left: 690px;
        margin-top:-86px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    .Recuadro1IP{
        width: 410px;
        height: 35px;

        margin-left:750px;
        margin-top:-60px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro2IP{
        width: 410px;
        height: 35px;

        margin-left: 750px;
        margin-top:-55px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro3IP{
        width: 410px;
        height: 35px;

        margin-left: 750px;
        margin-top:-55px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro4IP{
        width: 410px;
        height: 35px;

        margin-left: 500px;
        margin-top:-55px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro5IP{
        width: 87px;
        height: 36px;

        margin-left: 100px;
        margin-top:30px;
        

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro6IP{
        width: 87px;
        height: 36px;
        margin-left: 220px;
        margin-top:-58px;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro7IP{
        width: 87px;
        height: 36px;

        margin-left: 335px;
        margin-top:-58px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro8IP{
        width: 87px;
        height: 35px;

        margin-left: 335px;
        margin-top:-58px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .Recuadro9IP{
        width: 410px;
        height: 35px;

        margin-left: 700px;
        margin-top:0px;
        

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }


    .Recuadro10IP{
        width: 410px;
        height: 35px;

        margin-left: 100px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }


    .Recuadro11IP{
        width: 410px;
        height: 35px;

        margin-top: -5px;
        margin-left: 700px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .BotonCambiarIP{
        width: 146px;
        height: 33px;

        background: #23A3A5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #FFFFFF;
    }
}

/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    body.IP{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        text-align: center;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 85px; 
        padding-bottom: 70px;
        width: 100%;
        overflow: hidden;
    }
    
    .recuadroIzq{
        width: 250px;
        height: 390px;
       
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 246px;
        height: 10px;
    
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        margin-top: 25px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 246px;
        height: 10px;
    
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        margin-top: 25px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 246px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 25px;
    
        font-size: 14px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 246px;
        height: 10px;
        text-align: center;

        margin-left: -0px;
        margin-top: 25px;
    
        font-size: 14px;
        line-height: 28px;
        margin-top: 25px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 246px;
        margin-top: 25px;
        height: 28px;
        text-align: center;

        margin-left: 0px;
    
        font-size: 14px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Imagen1IP{
        width: 300px;
        height: 200px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .formularioIP{
        margin-top: 50px;
        width: 960px;
        height: 1000px;
    
        border: 0px solid #ff0000;
        box-sizing: border-box; 
    }
    
    .Imagen2IP{
        width: 150px;
        height: 70px;
        margin-left: -760px;
        margin-top: 10px;
    }
    
    .Texto1IP{
        width: 101px;
        height: 30px;
    
        margin-left: 60px;
        margin-top: 70px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto2IP{
        width: 96px;
        height: 28px;
    
        margin-left: 65px;
        margin-top: 90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto3IP{
        width: 41px;
        height: 28px;
    
        margin-left: 70px;
        margin-top: 90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto4IP{
        width: 90px;
        height: 28px;
    
        margin-left: 70px;
        margin-top:90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto5IP{
        width: 220px;
        height: 28px;
    
        margin-left: 69px;
        margin-top:90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto6IP{
        width: 31px;
        height: 28px;
        
        margin-left: 80px;
        margin-top:-30px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto7IP{
        width: 41px;
        height: 28px;
    
        margin-left: 180px;
        margin-top:-30px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto8IP{
        width: 38px;
        height: 28px;
    
        margin-left: 280px;
        margin-top:-30px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
    
    }
    
    .Texto9IP{
        width: 70px;
        height: 28px;
    
        margin-left: 500px;
        margin-top:-120px;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto10IP{
        width: 200px;
        height: 28px;
    
        margin-left: 60px;
        margin-top:60px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto11IP{
        width: 300px;
        height: 28px;
    
        margin-left: 490px;
        margin-top:-86px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Recuadro1IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400px;
        margin-top:-60px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro2IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400px;
        margin-top:-55px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro3IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400px;
        margin-top:-55px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro4IP{
        width: 410px;
        height: 35px;
    
        margin-left: 400px;
        margin-top:-55px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro5IP{
        width: 87px;
        height: 36px;
    
        margin-left: 70px;
        margin-top:30px;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro6IP{
        width: 87px;
        height: 36px;
        margin-left: 170px;
        margin-top:-58px;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro7IP{
        width: 87px;
        height: 36px;
    
        margin-left: 270px;
        margin-top:-58px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro8IP{
        width: 87px;
        height: 35px;
    
        margin-left: 335px;
        margin-top:-58px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro9IP{
        width: 410px;
        height: 35px;
    
        margin-left: 500px;
        margin-top:10px;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro10IP{
        width: 410px;
        height: 35px;
    
        margin-left: 60px;
        margin-top: 10px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro11IP{
        width: 410px;
        height: 35px;
    
        margin-top: -1px;
        margin-left: 500px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .BotonCambiarIP{
        width: 146px;
        height: 33px;
    
        background: #23A3A5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #FFFFFF;
    }
}
/* under 690 px */
@media screen and (max-width: 40em) {
    
    body.IP{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 75px; 
        padding-bottom: 40px;
        width: 100%;
        overflow: hidden;
    }
    
    .recuadroIzq{
        width: 150px;
        height: 290px;
        margin: 0 auto;
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 150px;
        height: 10px;
    
        font-size: 8px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 8px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 150px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 150px;
        height: 10px;
        text-align: center;

        margin-left: 0px;
        margin-top: 15px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 150px;
        margin-top: 15px;
        height: 28px;
        text-align: center;

        margin-left: 0px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Imagen1IP{
        width: 200px;
        height: 150px;
        margin-left: 5px;
        margin-top: 10px;
    }
    
    .Texto1IP{
        width: 101px;
        height: 30px;
    
        margin-left: 60px;
        margin-top: 70px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto2IP{
        width: 96px;
        height: 28px;
    
        margin-left: 70px;
        margin-top: 90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto3IP{
        width: 41px;
        height: 28px;
    
        margin-left: 80px;
        margin-top: 90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto4IP{
        width: 90px;
        height: 28px;
    
        margin-left: 70px;
        margin-top:90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto5IP{
        width: 220px;
        height: 28px;
    
        margin-left: 56px;
        margin-top:90px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto6IP{
        width: 31px;
        height: 28px;
        
        margin-left: 190px;
        margin-top:-27px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto7IP{
        width: 41px;
        height: 28px;
    
        margin-left: 290px;
        margin-top:-27px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    }
    
    .Texto8IP{
        width: 38px;
        height: 28px;
    
        margin-left: 390px;
        margin-top:-28px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
    
        color: #000000;
    
    }
    
    .Texto9IP{
        width: 70px;
        height: 28px;
    
        margin-left: 70px;
        margin-top: 40px;
    
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto10IP{
        width: 200px;
        height: 28px;
    
        margin-left: 60px;
        margin-top:60px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Texto11IP{
        width: 300px;
        height: 28px;
    
        margin-left: 45px;
        margin-top: 30px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
    
    .Recuadro1IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220px;
        margin-top:-50px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro2IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220px;
        margin-top:-45px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro3IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220px;
        margin-top:-50px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro4IP{
        width: 280px;
        height: 25px;
    
        margin-left: 220px;
        margin-top:-50px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro5IP{
        width: 87px;
        height: 25px;
    
        margin-left: 170px;
        margin-top:30px;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro6IP{
        width: 87px;
        height: 25px;
        margin-left: 270px;
        margin-top:-46px;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro7IP{
        width: 87px;
        height: 25px;
    
        margin-left: 370px;
        margin-top:-46px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro8IP{
        width: 87px;
        height: 25px;
    
        margin-left: 335px;
        margin-top:-58px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .Recuadro9IP{
        width: 250px;
        height: 25px;
    
        margin-left: 170px;
        margin-top:10px;
        
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro10IP{
        width: 410px;
        height: 25px;
    
        margin-left: 100px;
        margin-top: 10px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    
    .Recuadro11IP{
        width: 410px;
        height: 25px;
    
        
        margin-left: 100px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .BotonCambiarIP{
        width: 146px;
        height: 33px;
        margin-top: 10px;
    
        background: #23A3A5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #FFFFFF;
    }
}