@media screen and (max-width: 60em) {


    p {

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 84px;
        
        color: #000000;

    }


    section.grid {

        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.7fr 1.5fr 0.8fr 1fr 1.3fr 0.fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "titulo"
            "alojamiento"
            "valoracion"
            "titulo2"
            "rese単a"
            "enviar"; 
    }

    section.titulo {

        text-align: center;
        grid-area: titulo;
    }



    .linea {
        
        width: 100%;
        height: 1px;
        background-color:#00000093;
        border: 1px solid #00000093;

    }

    section.alojamiento {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "." "."; 
        grid-area: alojamiento; 
        
    }


    h2 {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 42px;
        text-align: center;
        color: #474444;
        margin: auto;
        margin-top: 60px;
        
    }


    #fotoAlojamiento {

        width: 400px;
        height: 200px;
        border-radius: 10px;
        margin: auto;


    }


    #estrellas {

        margin-left: 38%;

    }


    .estrella {

        width: 35px;
        height: 35px;
        margin-left: 5px;

    }


    .campoTitulo {

        width: 400;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 11px;
        margin-left: 28%;

    }


    .campoRese単a {

        width: 590px;
        height: 295px;
        margin-top: 10px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 11px; 
        margin-bottom: 50px;
        margin: auto;
        margin-left: 18%;

    }



    #enviar {

        width: 253px;
        height: 30px;
        margin-top: 50px;  
        margin-bottom: 50px;
        margin-left: 34%;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        color: white;

    }



}




@media screen and (max-width: 40em) {

    p {

        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 84px;
        
        color: #000000;

    }


    section.grid {

        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.7fr 1.5fr 0.8fr 1fr 1.3fr 0.fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "titulo"
            "alojamiento"
            "valoracion"
            "titulo2"
            "rese単a"
            "enviar"; 
    }

    section.titulo {

        text-align: center;
        grid-area: titulo;
    }



    .linea {
        
        width: 100%;
        height: 1px;
        background-color:#00000093;
        border: 1px solid #00000093;

    }

    section.alojamiento {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "." "."; 
        grid-area: alojamiento; 
        
    }


    h2 {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 42px;
        text-align: center;
        color: #474444;
        margin: auto;
        margin-top: 20px;
        
    }


    #fotoAlojamiento {

        width: 400px;
        height: 200px;
        border-radius: 10px;
        margin: auto;


    }


    #estrellas {

        margin-left: 37%;

    }


    .estrella {

        width: 20px;
        height: 20px;
        margin-left: 5px;

    }


    .campoTitulo {

        width: 220px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 11px;
        margin-left: 31%;

    }


    .campoRese単a {

        width: 300px;
        height: 150px;
        margin-top: 10px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 11px; 
        margin-bottom: 50px;
        margin: auto;
        margin-left: 23%;

    }



    #enviar {

        width: 180px;
        height: 25px;
        margin-top: 50px;  
        margin-bottom: 50px;
        margin-left: 34%;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        color: white;

    }




}

