/********************ESTO ES Seguridad********************/
@media screen and (min-width: 40em) {
    body.S{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        text-align: center;
        color: #000000; 

        margin: 0 auto;

        padding-top: 95px; 
        padding-bottom: 100px;
        width: 100%;
        overflow: hidden;
    }

    .recuadroIzq{
        width: 300px;
        height: 627px;
        margin: 0 auto;
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 296px;
        height: 1px;
        margin-top:35px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 296px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 296px;
        height: 1px;
        margin-top:48px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 296px;
        height: 1px;
        margin-top:50px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        width: 296px;
        height: 28px;
    
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 45px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 296px;
        height: 28px;
    
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 45px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 296px;
        height: 28px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 50px;
    
        font-size: 18px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 296px;
        height: 28px;
        text-align: center;
    
        font-size: 18px;
        line-height: 28px;
        margin-top: 58px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 296px;
        margin-top: 50px;
        height: 28px;
        text-align: center;
        margin-left: 0px;
    
        font-size: 18px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .ImagenS{
        width: 550px;
        height: 450px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .Texto1S{
        width: 220px;
        height: 30px;
        font-size: 25px;
        float: left;
    }

    .Texto2S{
        width: 220px;
        height: 30px;
        font-size: 25px;
        float: left;
    }

    .Texto3S{
        width: 450px;
        height: 30px;
        font-size: 25px;
        float: left;
    }

    .Texto4S{
        width: 350px;
        height: 30px;
        font-size: 25px;
        float: left;
    }

    .Texto5S{
        width: 250px;
        height: 30px;
        font-size: 25px;
        float: left;
    }

    .estrucuturaFormS1{
        width: 900px;
        height: 80px;

        margin-left: 220px;
        margin-top: 70px;

    }

    .estrucuturaFormS2{
        width: 900px;
        height: 80px;

        margin-left: 210px;
        margin-top: 70px;

    }

    .estrucuturaFormS3{
        width: 900px;
        height: 80px;

        margin-left: 150px;
        margin-top: 70px;
    }

    .estrucuturaFormS4{
        width: 900px;
        height: 80px;

        margin-left: 200px;
        margin-top: 70px;
    }

    .estrucuturaFormS5{
        width: 900px;
        height: 80px;

        margin-left: 190px;
        margin-top: 70px;
    }

    .RecuadroS{
        margin-top: 100px;
        width: 1366px;
        height: 800px;
        background: #FFFFFF;
    }

    .Recuadro1S{
        width: 410px;
        height: 35px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 160px;
    }

    .Recuadro2S{
        width: 410px;
        height: 35px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 170px;
    }

    .Recuadro3S{
        width: 410px;
        height: 35px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;

    }

    .Recuadro4S{
        width: 410px;
        height: 35px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 47px;
    }

    .Recuadro5S{
        width: 410px;
        height: 35px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 160px;
    }


    .BotonAplicarS{
        width: 231px;
        height: 56px;

        background: rgba(239, 60, 86, 0.37);
        border-radius: 20px;

        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    
    body.S{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        text-align: center;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 85px; 
        padding-bottom: 70px;
        width: 100%;
        overflow: hidden;
    }
    
    .recuadroIzq{
        width: 250px;
        height: 390px;
       
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 246px;
        height: 1px;
        margin-top:40px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 246px;
        height: 10px;
    
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        margin-top: 25px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 246px;
        height: 10px;
    
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        margin-top: 25px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 246px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 25px;
    
        font-size: 14px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 246px;
        height: 10px;
        text-align: center;

        margin-left: -0px;
        margin-top: 25px;
    
        font-size: 14px;
        line-height: 28px;
        margin-top: 25px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 246px;
        margin-top: 25px;
        height: 28px;
        text-align: center;

        margin-left: 0px;
    
        font-size: 14px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .ImagenS{
        width: 300px;
        height: 200px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .Texto1S{
        width: 220px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto2S{
        width: 220px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto3S{
        width: 450px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto4S{
        width: 350px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .Texto5S{
        width: 250px;
        height: 30px;
        font-size: 20px;
        float: left;
    }
    
    .estrucuturaFormS1{
        width: 900px;
        height: 80px;
    
        margin-left: 128px;
        margin-top: 70px;
    
    }
    
    .estrucuturaFormS2{
        width: 900px;
        height: 80px;
    
        margin-left: 120px;
        margin-top: 70px;
    
    }
    
    .estrucuturaFormS3{
        width: 900px;
        height: 80px;
    
        margin-left: 52px;
        margin-top: 70px;
    }
    
    .estrucuturaFormS4{
        width: 900px;
        height: 80px;
    
        margin-left: 100px;
        margin-top: 70px;
    }
    
    .estrucuturaFormS5{
        width: 900px;
        height: 80px;
    
        margin-left: 106px;
        margin-top: 70px;
    }
    
    .RecuadroS{
        margin-top: 100px;
        width: 960px;
        height: 800px;
        background: #FFFFFF;
    }
    
    .Recuadro1S{
        width: 300px;
        height: 35px;
        margin-left: -190px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 160px;
    }
    
    .Recuadro2S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 25px;
        margin-left: 170px;
    }
    
    .Recuadro3S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17px;
        margin-left: 5px;
    
    }
    
    .Recuadro4S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17px;
        margin-left: 52px;
    }
    
    .Recuadro5S{
        width: 300px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 17px;
        margin-left: 144px;
    }
    
    
    .BotonAplicarS{
        width: 131px;
        height: 36px;
    
        background: rgba(239, 60, 86, 0.37);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
}
/* under 640 px */
@media screen and (max-width: 40em) {
    
    
    body.S{
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: x-large;
        color: #000000; 
    
        margin: 0 auto;
    
        padding-top: 75px; 
        padding-bottom: 40px;
        width: 100%;
        overflow: hidden;
    }
    
    .recuadroIzq{
        width: 150px;
        height: 290px;
        margin: 0 auto;
        float: left;
        margin-top:-55px;
    
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .lineaHorizontal1{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal2{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal3{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .lineaHorizontal4{
        width: 146px;
        height: 1px;
        margin-top:30px;
        background-color:  #000000;
    }
    
    .Texto1RecuadroIzq{
        
        width: 150px;
        height: 10px;
    
        font-size: 8px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto2RecuadroIzq{
        width: 150px;
        height: 10px;
    
        font-size: 8px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        margin-left: 0px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto3RecuadroIzq{
        width: 150px;
        height: 10px;
        left: 60px;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto4RecuadroIzq{
        width: 150px;
        height: 10px;
        text-align: center;

        margin-left: 0px;
        margin-top: 15px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .Texto5RecuadroIzq{
        width: 150px;
        margin-top: 15px;
        height: 28px;
        text-align: center;

        margin-left: 0px;
    
        font-size: 8px;
        line-height: 28px;
    
        color: rgba(0, 0, 0, 0.5);
    
    }
    
    .ImagenS{
        width: 200px;
        height: 150px;
        margin-left: 5px;
        margin-top: 10px;
    }
    
    .Texto1S{
        width: 150px;
        height: 30px;
        font-size: 15px;
        float: left;
    }
    
    .Texto2S{
        width: 145px;
        height: 30px;
        font-size: 15px;
        float: left;
    }
    
    .Texto3S{
        width: 250px;
        height: 30px;
        font-size: 15px;
        float: left;
        margin-left:70px;
    }
    
    .Texto4S{
        width: 250px;
        height: 30px;
        font-size: 15px;
        margin-left:20px;
        float: left;
    }
    
    .Texto5S{
        width: 150px;
        height: 30px;
        font-size: 15px;
        float: left;
        margin-left:17px;
    }
    
    .estrucuturaFormS1{
        width: 700px;
        height: 80px;
    
        margin-left: 20px;
        margin-top: 70px;
    
    }
    
    .estrucuturaFormS2{
        width: 700px;
        height: 80px;
    
        margin-left: 15px;
        margin-top: 30px;
    
    }
    
    .estrucuturaFormS3{
        width: 800px;
        height: 80px;
    
        margin-left: -68px;
        margin-top: 30px;
    }
    
    .estrucuturaFormS4{
        width: 800px;
        height: 80px;
    
        margin-left: -19px;
        margin-top: 30px;
    }
    
    .estrucuturaFormS5{
        width: 800px;
        height: 80px;
    
        margin-left: 0px;
        margin-top: 30px;
    }
    
    .RecuadroS{
        margin-top: 100px;
        width: 640px;
        height: 550px;
        background: #FFFFFF;
    }
    
    .Recuadro1S{
        width: 220px;
        height: 35px;
        margin-right: 120px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10px;
        margin-left: 160px;
    }
    
    .Recuadro2S{
        width: 220px;
        height: 35px;
        margin-right: 140px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10px;
        margin-left: 170px;
    }
    
    .Recuadro3S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10px;
        margin-left: 78px;
    
    }
    
    .Recuadro4S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 10px;
        margin-left: 75px;
    }
    
    .Recuadro5S{
        width: 220px;
        height: 35px;
    
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        float: left;
        margin-top: 4px;
        margin-left: 160px;
    }
    
    
    .BotonAplicarS{
        width: 131px;
        height: 36px;
    
        background: rgba(239, 60, 86, 0.37);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;
    }
}