body {
    background: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif Condensed;
    text-align: justify;
    font-style: normal;
    
    color: #000000;
}


/********************ESTO ES DE APTODEST********************/
#titulo_cabecera{
    position: absolute;
    left: 70px;
    top: 20px;

    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
}

#fondo_apto{
    position: absolute;
    height: 600px;
    left: 70px;
    right: 70px;
    top: 200px;
    background: #f1f1f1;
}

#img_apto{
    position: absolute;
    width: 350px;
    height: 170px;
    left: 110px;
    top: 240px;
    
    background-image: url("./assets/Lopesan-Baobab-Resort.jpeg");
    border-radius: 10px 10px 0px 0px;
}

#cuadro_apto {
    position: absolute;
    width: 350px;
    height: 240px;
    left: 110px;
    top: 240px;
    
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

#text_apto {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

#valoracion {
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 300px;
    top: 165px;
}

#EspacioBlanco {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 900px;
    
    background: rgba(255, 255, 255, 0);
}


/********************ESTO ES DE CONDICIONES********************/
#cond_leg{
    position: absolute;
    width: 1150px;
    height: 84px;
    left: 66px;
    top: 80px;

    font-weight: 500;
    font-size: 24px;

    color: #646363;
}

#_titulo{
    position: absolute;
    width: 1150px;
    height: 84px;
    left: 66px;
    top: 110px;

    font-weight: 500;
    font-size: 44px;
}

#text_cond{
    position: absolute;
    width: 1150px;
    height: 1350px;
    left: 66px;
    top: 230px;
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


/********************ESTO ES DEL FOOTER********************/
footer {
    position: fixed;
    left:0;
    bottom:0;
    height: 3.5%;
    width:100%;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 6.77%, rgba(48, 53, 53, 0.94) 31.25%);

    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    text-align: right;
    color: #FFFFFF;
    
}

.fuente {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}


/********************ESTO ES DEL HEADER********************/
header {
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

#fondo_header {
    position: absolute;
    height: 30px;
    top: 8px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);   
}


/********************ESTO ES DE HOME********************/
#cuadro_buscador {
    position: absolute;
    width: 100%;
    height: 455px;
    left: 0px;
    top: 45px;

    background-image: url(./assets/hotel-nayra-adults-only.jpeg);
}

#buscador_home {
    position: absolute;
    width: 872px;
    height: 75px;
    left: 20%;
    top:220px;

    background: #FFFFFF;
    border-radius: 9px;
}

#fondo_isla_destino { 
    position: absolute;
    height: 583px;
    left: 70px;
    right: 70px;
    top: 793px;
    background: #f1f1f1;
}

#img_isla_dest{
    position: absolute;
    width: 240px;
    height: 200px;

    border-radius: 10px;
}

#fondo_titulo_dest {
    position: absolute;
    width: 100px;
    height: 33px;
    
    background: rgba(255, 255, 255, 0.70);
    border-radius: 5px;
}

#titulo_isla_dest {
    position: absolute;
    width: 93px;
    height: 33px;
    
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#aptodest_home{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0%;
    top: 1500px;
}


/********************ESTO ES DE ISLA********************/
#img_completa{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 45px;
}

#isla_nombre{
    position: absolute;
    width: 621.33px;
    height: 70.7px;
    left: 329px;
    top: 420px;

    font-weight: 600;
    font-size: 55px;
    line-height: 63px;
    text-align: center;

    color: #FFFFFF;
}

#text_info{
    position: absolute;
    width: 550px;
    height: 400px;
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #454545;
}

#aptodest_isla{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0%;
    top: 900px;
}

#titulo_info{
    position: absolute;
    width: 550px;
    height: 200px;

    font-weight: 500;
    font-size: 28px;
}

#img_mapa {
    position: absolute;
    width: 765.94px;
    height: 320px;
    left: 500px;
    top: 1850px;
}

#img_turismo{
    position: absolute;
    width: 200px;
    height: 165px;
    left: 70px;
}

#img_turismo2{
    position: absolute;
    width: 200px;
    height: 355px;
    left: 290px;
    top: 2370px;
}

#img_ruta{
    position: absolute;
    width: 550px;
    height: 590px;
    left: 700px;
    top: 3565px;
}

#img_probar{
    position: absolute;
    width: 600px;
    height: 450px;
    left: 70px;
    top: 4346px;
}


/********************ESTO ES DE PRIVACIDAD********************/
#img_pri{
    position: absolute;
    width: 644px;
    height: 362px;
    left: 298px;
    top: 240px;

    background-image : url(./assets/predeterminada.jpg);
}

#titulo_continente{
    position: absolute;
    width: 1150px;
    height: 200px;
    left: 66px;

    font-weight: 500;
    font-size: 28px;
}

#pol_continente{
    position: absolute;
    width: 1150px;
    height: 200px;
    left: 66px;

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #454545;
}