#Titulof{
    position: absolute;
    width: 1500px;
    height: 56px;
    left: 30px;
    top: 80px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#SegTitulof{
    position: absolute;
    width: 500px;
    height: 28px;
    left: 80px;
    top: 233px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

#imagenCasaf{
    position: absolute;
    width: 155px;
    height: 143px;
    left: 1015px;
    top: 240px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#primerCuadradof{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 77px;
    top: 420px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#primerCuadradoImagenf{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 435px;
    top: 436px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#primerCuadradoTextof{
    position: absolute;
    width: 209px;
    height: 45.46px;
    left: 125px;
    top: 436px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#segundoCuadradof{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 666px;
    top: 420px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#segundoCuadradoimagenf{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 1024px;
    top: 436px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#segundoCuadradoTextof{
    position: absolute;
    width: 94px;
    height: 45px;
    left: 714px;
    top: 436px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#tercerCuadradof{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 77px;
    top: 620px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#tercerCuadradoimagenf{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 435px;
    top: 635px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#tercerCuadradoTextof{
    position: absolute;
    width: 234px;
    height: 46px;
    left: 126px;
    top: 635px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#cuartoCuadradof{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 666px;
    top: 620px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#cuartoCuadradoimagenf{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 1024px;
    top: 635px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#cuartoCuadradoTextof{
    position: absolute;
    width: 97px;
    height: 46px;
    left: 715px;
    top: 635px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#quintoCuadradof{
    position: absolute;
    width: 540px;
    height: 143px;
    left: 360px;
    top: 820px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

#quintoCuadradoimagenf{
    position: absolute;
    width: 135px;
    height: 111.75px;
    left: 728px;
    top: 835px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 12px;
}

#quintoCuadradoTextof{
    position: absolute;
    width: 77px;
    height: 46px;
    left: 419px;
    top: 835px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

#lineaf{
    position: absolute;
    width: 1360px;
    height: 0px;
    left: 0px;
    top: 1000px;

    border: 6px solid #D5C7C7;
}

#botonf{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 981px;
    top: 1029px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}
