/***Primera Seccion***/

.container {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "titulo_fotos"
      "datos"
      "valoraciones"
      "mapa"; 
}


.titulo_fotos { 
    grid-area: titulo_fotos;

}

.datos {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    grid-area: datos; 
}

.valoraciones { 

    grid-area: valoraciones; 

}
.mapa { 

    grid-area: mapa; 

}






.direc_sec_pri{
    width: 1144px;
    height: 20px;
    margin: 0 auto;
}
.titulo_estandar{
    font-size: 26;
    font-weight: bold;
}

/***Segunda Seccion***/
.direc_sec_seg{
    width: 1144px;
    height: 372px;
    margin: 0 auto;
    margin-top: 100;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

.direc_sec_seg_img,.direc_fi_seg,.direc_img_gra{
    width: 500px;
    height: 370px;
    margin: 0 auto;
    float: left;
}

.direc_sec_seg_img_peq{
    width: 630px;
    height: 370px;
    margin: 0 auto;
    float: right;
}

.direc_sec_seg_img_peq_izq,.direc_fi_seg_peq{
    width: 310px;
    height: 370px;
    margin: 0 auto;
    float: left;  
}

.direc_sec_seg_img_peq_dch{
    width: 308px;
    height: 370px;
    margin: 0 auto;
    float: right;
}

.direc_img_peq_alt{
    width: 308px;
    height: 177px;
}

.direc_img_peq_baj{
    width: 308px;
    height: 178px;
    margin-top: 15;
}

/***Tercera Seccion***/
.direc_sec_ter{
    width: 1144px;
    height: 710px;

    margin: 0 auto;
    margin-top: 100;
}

/*Parte Alta Izquierda*/
.direc_sec_ter_alt_izq{
    width: 780px;
    height: 100px;
    margin: 0 auto;
    float: left;
}

.direc_text_ti{
    width: 780px;
    font-size: 26px;
    
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.direc_text_cont{
    width: 780px;
    font-size: 20px;
    
    margin-left: auto;
    margin-right: auto;
    color: #454545;
}

/*Parte Baja Derecha*/
.direc_sec_ter_alt_dch{
    width: 310px;
    height: 280px;
    margin: 0 auto;
    float: right;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

.direc_p_ter{
    width: 292px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.direc_sec_ter_reserva{
    width: 292px;
    height: 101px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 30px;
}

.direc_art_ter_llegada{
    width: 145px;
    height: 50px;
    border-radius: 277px;
    float: left;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

.direc_art_ter_salida{
    width: 145px;
    height: 50px;
    border-radius: 277px;
    float: right;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

.direc_input_ter,.direc_label_ter {
    margin: 0 auto;
    display: block;
}

.direc_art_ter_huesped{
    width: 291px;
    height: 50px;
    border-radius: 277px;
    float: right;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

#selec_reserva{
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30;
    background: #cc0773;
    border-radius: 8px;
    font-size: 25px;
}

/*Parte Baja Izquierda*/
.direc_sec_ter_baj_izq{
    width: 780px;
    height: 510px;

    margin: 0 auto;
    margin-top: 100;
    float: left;
}

#caracteristicas_apto{
    width: 780px;
    height: 550px;
    float: left;
}

/*Parte Baja Derecha*/
.direc_sec_ter_baj_dch{
    width: 310px;
    height: 380px;
    margin: 0 auto;
    float: right;
    margin-top: 50;
}

/***Cuarta Seccion***/
.direc_sec_cua{
    width: 1144px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100;
}

.direc_fi_cua{
    width: 1144px;
    height: 600px;
    float: left;
    margin: 0 auto;
}

.direc_img_cua_uno{
    width: 1142px;
    height: 200px;
    float: left;
    
}

.direc_img_cua_dos{
    width: 1142px;
    height: 368px;
    float: left;
    margin-top: 30;
}

/***Quinta Seccion***/
.direc_sec_qui{
    width: 1144px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100;
}

#mapa{
    width: 1144px;
    height: 300px;
}