@media screen and (max-width: 60em) {


    body {
        padding-bottom: 100px;
    }
    
    h3 {
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 56px;
    
        color: #000000;
    
    }
    
    .grid {
    
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas:
            "volver" 
            "resumen"
            "separado1"
            "pago"
            "separador2"
            "política"; 
        
    }
    
    
    
    .volver {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: volver; 
        margin: auto;
        width: max-content;
        margin-top: 40px;
    }
    
    
    
    
    .resumen {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: resumen; 
        margin: auto;
        width: 1000px;
    }
    
    
    #InformacionViaje {
    
        width: 260px;
        height: 270px;
        background: #FDF9F2;
        border-radius: 22px;
        margin-left: 120px;
    
    }
    
    #ImagenPrincipalAlojamiento {
        
        border-radius: 22px;
        width: 390px;
        height: 270px;
        margin-top: 70px;
        margin-right: 180px;
    }
    
    .separador1 {
        grid-area: separador1;
    }
    
    .separador2 {
        grid-area: separador2;
    }
    
    .pago {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."
          "caducidad_cvv"
          "."; 
        grid-area: pago; 
        width: max-content;
        margin: auto;
    }
    
    
    .caducidad_cvv {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: caducidad_cvv; 
        
    }
    
    
    .camposTarjeta {
    
        width: 500px;
        height: 50px;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    
    }


    .caducidad {

        width: 230px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    }
    
    
    
    .cvv {
    
        width: 230px;
        margin-left: 20px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    
    }
    
    
    h4 {
        
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-left: 30px;
        text-align: justify;
        color: #000000;
    
    }
    
    .separador {
    
        width: calc(100% - 200px);
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        border: 1px solid #000000;
    
    }
    
    
    
    .politica {
        grid-area: politica; 
        width: max-content;
        margin: auto;
    }
    
    
    
    #boton {
    
        width: 250px;
        height: 30px;
        background: #FDF9F2;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 23px;
        margin-top: 50px;
        margin-left: 31%;
        
    }
    
    pre {
        margin-left: -11%;
        font-size: 12px;
    }
    


}




@media screen and (max-width: 40em) {



    body {
        padding-bottom: 100px;
    }
    
    h3 {
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 56px;
    
        color: #000000;
    
    }
    
    .grid {
    
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas:
            "volver" 
            "resumen"
            "separado1"
            "pago"
            "separador2"
            "política"; 
        
    }
    
    
    
    .volver {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: volver; 
        margin: auto;
        width: max-content;
        margin-top: 40px;
    }
    
    
    
    
    .resumen {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: resumen; 
        margin: auto;
        width: 600px;
    }
    
    
    #InformacionViaje {
    
        width: 160px;
        height: 170px;
        background: #FDF9F2;
        border-radius: 22px;
        margin-left: 110px;
        margin-right: 20px;
        margin-top: 75px;
    
    }
    
    #ImagenPrincipalAlojamiento {
        
        border-radius: 22px;
        width: 160px;
        height: 170px;
        margin-top: 75px;
    }
    
    .separador1 {
        grid-area: separador1;
    }
    
    .separador2 {
        grid-area: separador2;
    }
    
    .pago {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."
          "caducidad_cvv"
          "."; 
        grid-area: pago; 
        width: max-content;
        margin: auto;
    }
    
    
    .caducidad_cvv {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: caducidad_cvv; 
        
    }
    
    
    .camposTarjeta {
    
        width: 300px;
        height: 50px;
        
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    
    }


    .caducidad {

        width: 140px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    }
    
    
    
    .cvv {
    
        width: 140px;
        margin-left: 10px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 22px;
        margin-bottom: 20px;
    
    }
    
    
    h4 {
        
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 400;
        font-size: 7px;
        margin-left: 10px;
        color: #000000;
    
    }
    
    .separador {
    
        width: calc(100% - 200px);
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        border: 1px solid #000000;
    
    }
    
    
    
    .politica {
        grid-area: politica; 
        width: max-content;
        margin: auto;
    }
    
    
    
    #boton {
    
        width: 100px;
        height: 20px;
        font-size: 7px;
        background: #FDF9F2;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 23px;
        margin-top: 30px;
        margin-left: 35%;
        
    }
    
    pre {
    
        font-size: 7px;
        
    }
    

}

