
section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr ; 
    grid-template-areas: 
    "."
    "."
    "."; 
    
}



section.CuadroSolicitudContactar {
    position: relative;
    margin-top: 100px;
    height: 440px;
    width: 1000px;
    top: 150px;
    margin: auto;
    background: #FDF9F2;
    border-radius: 21px;

}

#ImagenSolicitudContactar {
    
    margin-top: 3em;
    width: 365px;
    height: 356px;

}

h1 {

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-top: 3em;
    margin-left: 7em;
    line-height: 28px;
    color: #000000;
    text-align: center;
    width: 42%;
    height: 278px;

}

#botonVolver {
    
    margin-left: 160px;
    width: 200px;
    height: 40px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);
    border-radius: 10px;

}