<page contentType="text/html" pageEncoding="UTF-8"></page>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
        <title>Anftrion Paso 2</title>
        <link rel="stylesheet" href="Anfitrión Paso 2.css">
        <link rel="stylesheet" href="responsiveAP2.css">
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <header>
        <include src="../Header/header2.html"></include>
    </header>
    
    <body class = AP2>
        
            <!--Titulo-->
            <p class = TituloAP2> NECESITAMOS SABER LA UBICACIÓN DE TU ALOJAMIENTO </p>

            <!--Mapa-->
            <div class = mapaAP2></div>

            <div class = buscadorAP2> </div>

            <p class = textoBuscadorAP2> Introduce tu dirección </p>
            <div class = ImagenbuscadorAP2> </div>

            <!--Linea-->
            <div class = lineaAP2> </div>

            <!--Boton 1-->
            <input class = boton1AP2 type="submit" value = "Atrás">

            <!--Boton 2-->
            <input class = boton2AP2 type="submit" value = "Siguiente">
    </body>

    <footer>
        <include src="../Footer/footer.html"></include>
    </footer>
    
</html>