/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 2300px
}

#Titulo{
    position: absolute;
    width: 1300px;
    height: 112px;
    left: 0px;
    top: 150px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    text-align: center;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

#Titulo1{
    position: absolute;
    width: 109px;
    height: 56px;
    left: 170px;
    top: 320px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;

}

#Cuadrado1{
    position: absolute;
    width: 977px;
    height: 108px;
    left: 170px;
    top: 450px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

#Titulo2{
    position: absolute;
    width: 600px;
    height: 56px;
    left: 110px;
    top: 687px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#Cuadrado2{
    position: absolute;
    width: 977px;
    height: 353px;
    left: 170px;
    top: 819px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

#Titulo3{
    position: absolute;
    width: 705px;
    height: 56px;
    left: 60px;
    top: 1200px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#Recuadro1{
    position: absolute;
    width: 399px;
    height: 91px;
    left: 170px;
    top: 1470px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
}

#Recuadro2{
    position: absolute;
    width: 399px;
    height: 91px;
    left: 800px;
    top: 1471px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
}

#Recuadro3{
    position: absolute;
    width: 639.77px;
    height: 91px;
    left: 350px;
    top: 1638px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
}

#Recuadro4{
    position: absolute;
    width: 399px;
    height: 91px;
    left: 170px;
    top: 1806px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
}

#Recuadro5{
    position: absolute;
    width: 399px;
    height: 91px;
    left: 800px;
    top: 1806px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
}

#TextoR1{
    position: absolute;
    width: 180px;
    height: 56px;
    left: 270px;
    top: 1440px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#TextoR2{
    position: absolute;
    width: 178.33px;
    height: 56px;
    left: 910px;
    top: 1440px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#TextoR3{
    position: absolute;
    width: 397.3px;
    height: 56px;
    left: 480px;
    top: 1605px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}


#TextoR4{
    position: absolute;
    width: 196px;
    height: 56px;
    left: 270px;
    top: 1776px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#TextoR5{
    position: absolute;
    width: 162px;
    height: 56px;
    left: 910px;
    top: 1776px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

#Img1{
    position: absolute;
    width: 54px;
    height: 56px;
    left: 200px;
    top: 1488px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img2{
    position: absolute;
    width: 59px;
    height: 61px;
    left: 850px;
    top: 1484px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img3{
    position: absolute;
    width: 57.16px;
    height: 59px;
    left: 400px;
    top: 1651px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img4{
    position: absolute;
    width: 54px;
    height: 56px;
    left: 200px;
    top: 1824px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#Img5{
    position: absolute;
    width: 54px;
    height: 56px;
    left: 850px;
    top: 1824px;

    background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
}

#linea{
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 2029px;

    border: 6px solid #D5C7C7;
    transform: rotate(0.08deg);
}

#boton1{
    position: absolute;
    width: 253px;
    height: 55px;
    left: 105px;
    top: 2055px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

#boton2{
    position: absolute;
    position: absolute;
    width: 253px;
    height: 55px;
    left: 1024px;
    top: 2055px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
    
}