/* MENU INICIAL */

#BarraEncabezado{
    position: absolute;
    width: 100%;
    height: 87px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}

Body{
    padding-top: 40px; 
    padding-bottom: 1700px
}

#lineaVertical1{
    position: absolute;
    width: 614px;
    height: 0px;
    left: 33px;
    top: 394px;

    border: 1px solid #000000;
    transform: rotate(-90deg);
}

#lineaHorizontal1{
    position: absolute;
    width: 340px;
    height: 0px;
    left: 0px;
    top: 201.48px;

    border: 1px solid #000000;
}

#lineaHorizontal2{
    position: absolute;
    width: 340px;
    height: 0px;
    left: 0px;
    top: 331px;

    border: 1px solid #000000;
}

#lineaHorizontal3{
    position: absolute;
    width: 340px;
    height: 0px;
    left: 0px;
    top: 460.52px;

    border: 1px solid #000000;
}

#lineaHorizontal4{
    position: absolute;
    width: 340px;
    height: 0px;
    left: 0px;
    top: 581px;

    border: 1px solid #000000;
}

#lineaHorizontal5{
    position: absolute;
    width: 340px;
    height: 0px;
    left: 1px;
    top: 701px;

    border: 1px solid #000000;
}

#Texto1RecuadroIzq{
    position: absolute;
    width: 350px;
    height: 28px;
    left: 0px;
    top: 110px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);

}

#Texto2RecuadroIzq{
    position: absolute;
    width: 150px;
    height: 28px;
    left: 84px;
    top: 236px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);

}

#Texto3RecuadroIzq{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 60px;
    top: 360px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);

}

#Texto4RecuadroIzq{
    position: absolute;
    width: 330px;
    height: 28px;
    left: 0px;
    top: 490px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #000000;

}

#Texto5RecuadroIzq{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 60px;
    top: 610px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);

}

#Imagen1{
    position: absolute;
    width: 512px;
    height: 512px;
    left: 543px;
    top: 123px;

    background: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
}

#Titulo{
    position: absolute;
    width: 800px;
    height: 68px;
    left: 58px;
    top: 691px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #000000;
}

#CuadroApartamento {

    position: absolute;
    width: 370px;
    height: 237px;
    left: 60px;
    top: 900px;

    border: 3px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;

}

#FotoCuadroApartamento {
    position: absolute;
    width: 370px;
    height: 171px;
    left: 130px;
    top: 900px;

    background-image: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
    border-radius: 10px 10px 0px 0px;
}



#Valoracion {

    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 325px;
    top: 165px;

    
}

#Titulo1{
    position: absolute;
    width: 302px;
    height: 25px;
    left: 65px;
    top: 1050px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;
}

#Titulo2{
    position: absolute;
    width: 308px;
    height: 21px;
    left: 500px;
    top: 1050px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;
}

#Titulo3{
    position: absolute;
    width: 263.55px;
    height: 24.61px;
    left: 935px;
    top: 1050px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;
}

#Titulo4{
    position: absolute;
    width: 300.77px;
    height: 24.61px;
    left: 65px;
    top: 1400px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;
}

#Titulo5{
    position: absolute;
    width: 269.59px;
    height: 24.61px;
    left: 500px;
    top: 1400px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;
}

#Titulo6{
    position: absolute;
    width: 292.72px;
    height: 24.61px;
    left: 935px;
    top: 1400px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #474444;

}

#Dir1{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 65px;
    top: 1090;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Dir2{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 500px;
    top: 1090px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Dir3{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 935px;
    top: 1090px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Dir4{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 65px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Dir5{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 500px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Dir6{
    position: absolute;
    width: 200px;
    height: 15.38px;
    left: 935px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde1{
    position: absolute;
    width: 40px;
    height: 11px;
    left: 280px;
    top: 1090;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde2{
    position: absolute;
    width: 39.67px;
    height: 12.3px;
    left: 720px;
    top: 1090;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde3{
    position: absolute;
    width: 39.67px;
    height: 12.3px;
    left: 1150px;
    top: 1090;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde4{
    position: absolute;
    width: 39.67px;
    height: 12.3px;
    left: 280px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde5{
    position: absolute;
    width: 39.67px;
    height: 12.3px;
    left: 720px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Desde6{
    position: absolute;
    width: 39.67px;
    height: 12.3px;
    left: 1150px;
    top: 1440px;

    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;

    color: #685D5D;
}

#Precio1{
    position: absolute;
    width: 81.61px;
    height: 27.68px;
    left: 345px;
    top: 1082px;
    
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
   
    
    color: #2D2B2B;
}

#Precio2{
    position: absolute;
    width: 90.53px;
    height: 27.68px;
    left: 790px;
    top: 1082px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #2D2B2B;
}

#Precio3{
    position: absolute;
    width: 81.61px;
    height: 27.68px;
    left: 1220px;
    top: 1082px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #2D2B2B;
}

#Precio4{
    position: absolute;
    width: 81.61px;
    height: 27.68px;
    left: 348.76px;
    top: 1432px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #2D2B2B;
}

#Precio5{
    position: absolute;
    width: 81.61px;
    height: 27.68px;
    left: 790px;
    top: 1432px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #2D2B2B;
}

#Precio6{
    position: absolute;
    width: 81.61px;
    height: 27.68px;
    left: 1220px;
    top: 1432px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #2D2B2B;
}

#Val1{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 380px;
    top: 1075px;

    background: #2A2867;
}

#Val2{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 820px;
    top: 1075px;

    background: #2A2867;
}

#Val3{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 1250px;
    top: 1075px;

    background: #2A2867;
}

#Val4{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 380px;
    top: 1425px;

    background: #2A2867;
}

#Val5{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 820px;
    top: 1425px;

    background: #2A2867;
}

#Val6{
    position: absolute;
    width: 34.01px;
    height: 27.68px;
    left: 1250px;
    top: 1425px;

    background: #2A2867;
}

#botonCancelar1{
    position: absolute;
    width: 129px;
    height: 35px;
    left: 58px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonCancelar2{
    position: absolute;
    width: 129px;
    height: 35px;
    left:495px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonCancelar3{
    position: absolute;
    width: 129px;
    height: 35px;
    left:927px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonCancelar4{
    position: absolute;
    width: 129px;
    height: 35px;
    left: 58px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonCancelar5{
    position: absolute;
    width: 129px;
    height: 35px;
    left:495px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonCancelar6{
    position: absolute;
    width: 129px;
    height: 35px;
    left:927px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar1{
    position: absolute;
    width: 129px;
    height: 35px;
    left: 300px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar2{
    position: absolute;
    width: 129px;
    height: 35px;
    left:735px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar3{
    position: absolute;
    width: 129px;
    height: 35px;
    left:1170px;
    top: 1170px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar4{
    position: absolute;
    width: 129px;
    height: 35px;
    left: 300px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar5{
    position: absolute;
    width: 129px;
    height: 35px;
    left:735px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#botonGestionar6{
    position: absolute;
    width: 129px;
    height: 35px;
    left:1170px;
    top: 1520px;

    background: #C4C4C4;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

footer{
    position: absolute;
    width: 100%;
    height: 40px; 
    left: 0; 
    bottom: 0; 
    position: fixed;
    padding: 3px; 
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%); 
    background-size: cover; 
    
}