<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="https://unpkg.com/htmlincludejs"></script>
        <meta charset="UTF-8">
        <title>Inciar Sesión</title>
    </head>
    
    <body style="padding-bottom: 10%;">
    
        <section>

            <div id="CuadroBotonesLogReg">
                <a href="./LogIn.html" class="boton">Iniciar Sesión</a> 
                <a href="Registrarse.html" class="boton">Registrarse</a>
                
            </div>



            <div>
                <form id = "loginForm" class="FormularioLogIn">

                    <div id = IconoLogIn></div><div></div>
                    <div>
                        <h2>EMAIL:</h2>
                        <input type="text" id="email" required pattern="([A-Za-z]+)" class = camposLogIn placeholder="canary@dreams.es">
                    </div>
                    
                    <div>
                        <h2>CONTRASEÑA:</h2>
                        <input type="password" required pattern="([A-Za-z]+)" id = "password" class = camposLogIn placeholder="********">
                    </div>   

                    
                    <input id = "BotonLogIn" type="submit" value = "Iniciar Sesión">
                    
                </form>
            </div>  
        </section>


        

        


        
       
    </body>

    <script>



    </script>

    

    
</html>