
/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    

    body.AP4{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        float: center; 
        padding-top: 100px; 
        padding-bottom: 170px;
        color: #000000; 
        margin: 0 auto;
        width: 960px;
    }
    
    .TituloAP4{
        width: 800px;
        height: 112px;
    
        margin: auto;
        margin-top: 50px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 56px;
        text-align: center;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .primerRecuadroAP4{
        width: 800px;
        height: 403px;
    
        margin: auto;
    
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "." "." "." ".";
    }
    
    .imagenAP4{
        width: 100px;
        height: 90px;
    
        margin-left: 650px;
        margin-top:70;
    
        background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
    }
    
    .titulo1AP4{
        width: 900px;
        height: 42px;
        
    
        margin-left: 100;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
    
        color: #000000;
    }
    
    .elemento1AP4{
        width: 105px;
        height: 42px;
    }
    
    .parte1Texto1AP4{
        width: 500px;
        height: 42px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 42px;
        margin-top:-45;
        margin-left:80;
    
        color: #000000;
    }
    
    .Img1AP4{
        width: 38px;
        height: 38px;
        background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
    }
    
    
    .lineaAP4{
        width: 1366px;
        margin-top: -130;
    
        border: 6px solid #D5C7C7;
        transform: rotate(0.08deg);
    }
    
    
    
    .boton1AP4{
        width: 253px;
        height: 55px;
    
        margin-top: 40;
        margin-left: 40;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    
        color: #FFFFFF;
    }
    
    .boton2AP4{
        width: 253px;
        height: 55px;
    
        float:right;
        margin-top: 40;
        margin-right: 40;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    
        color: #FFFFFF;
    }
}

/* 640 to 960 pixels */
@media screen and (max-width: 40em) {
    

    body.AP4{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        float: center; 
        padding-top: 100px; 
        padding-bottom: 170px;
        color: #000000; 
        margin: 0 auto;
        width: 640px;
    }
    
    .TituloAP4{
        width: 630px;
        height: 112px;
    
        margin: auto;
        margin-top: 50px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 56px;
        text-align: center;
        margin-bottom: -120;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .primerRecuadroAP4{
        width: 300px;
        height: 403px;
    
        margin: auto;
    
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "." "." "." ".";
    }
    
    .imagenAP4{
        width: 100px;
        height: 90px;
    
        margin-left: 650px;
        margin-top:70;
    
        background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
    }
    
    .titulo1AP4{
        width: 640px;
        height: 42px;
        
    
        margin-left: 100;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 42px;
    
        color: #000000;
    }
    
    .elemento1AP4{
        width: 105px;
        height: 42px;
    }
    
    .parte1Texto1AP4{
        width: 500px;
        height: 42px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 42px;
        margin-top:-45;
        margin-left:80;
    
        color: #000000;
    }
    
    .Img1AP4{
        width: 38px;
        height: 38px;
        background: url(https://www.fotocommunity.es/styleguide/img/homepage/poster-comments.jpg);
    }
    
    
    .lineaAP4{
        width: 1366px;
        margin-top: -130;
    
        border: 6px solid #D5C7C7;
        transform: rotate(0.08deg);
    }
    
    
    
    .boton1AP4{
        width: 150px;
        height: 50px;
    
        margin-top: 40;
        margin-left: 40;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
    
        color: #FFFFFF;
    }
    
    .boton2AP4{
        width: 150px;
        height: 55px;
    
        float:right;
        margin-top: 40;
        margin-right: 40;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
    
        color: #FFFFFF;
    }
}